<h1>Fleet Ticket #: <%= @fleetticket.unitnumber %></h1>
<p>
  This is a demo email for the Fleet Ticket Page.<br>
  Reporting Officer: <%= @fleetticket.reportingofficer %>.<br>
  Problem: <%= @fleetticket.problem %>.<br>
</p>
<p>Thanks, Have a nice day.</p>