<h1>Help Desk Ticket for Unit #: <%= @ithelpticket.unit %></h1>
<p>
  This is a demo email for the IT Help Desk Page.<br>
  Reporting Officer: <%= @ithelpticket.name %>.<br>
  Problem: <%= @ithelpticket.problem %>.<br>
</p>
<p>Thanks, Have a nice day.</p>