<h1>New Fleet Ticket</h1>

<p>
  Use this form to report any maintenance problems with the patrol unit. Be as specific as possible.<br>
  If you have any questions contact Debra Walsh or the City Garage
</p>

<%= render 'form', fleetticket: @fleetticket %>

<%= link_to 'Back', fleettickets_path %>
