
<body topmargin="0" leftmargin="0">


      <div align="center">
        <b><font size="5" color="#FF0000"><h1>Common Abbreviations</h1></font></b></div>

<table border="0" width="100%">
  <tr>
    <td align="center" colspan="2">

      <p style="margin-top: 0; margin-bottom: 0"><b>
        <font face="Arial" color="#FF0000"><a href="#10_CODE_">10 CODE</a></font></b>
        <b><br>

          <font face="Arial" color="#FF0000"><a href="#PHONE_A">Phonetic Alphabet</a></font></b>
        <b><br>

          <font face="Arial" color="#FF0000"><a href="#MIL_TIME">Military Time</a></font>
        </b>
      </p>
      <p style="margin-top: 0; margin-bottom: 0">&nbsp;</td>
  </tr>
  <tr>
    <td align="center" width="124%"><b><font color="#0000FF">DISPATCH</font></b></td>
    <td align="center" width="1%">&nbsp;</td>
  </tr>
  <tr>
    <td align="center" width="32%">
      <p style="margin-top: 0; margin-bottom: 0">&nbsp;</p>
      <table border="0" width="92%">
        <tr>
          <td width="91">@</td>
          <td width="161">At</td>
          <td width="4" bgcolor="#808080">&nbsp;</td>
          <td>DTRD</td>
          <td>Dirt Road</td>
          <td bgcolor="#808080">&nbsp;</td>
          <td>NB</td>
          <td>Northbound </td>
          <td bgcolor="#808080">&nbsp;</td>
          <td width="71">SOB</td>
          <td width="124">Shortness of Breath</td>
        </tr>
        <tr>
          <td width="91">ABT</td>
          <td width="161">About</td>
          <td width="4" bgcolor="#808080">&nbsp;</td>
          <td>DW</td>
          <td>Double Wide</td>
          <td bgcolor="#808080">&nbsp;</td>
          <td>NBT</td>
          <td>Not Blocking Traffic </td>
          <td bgcolor="#808080">&nbsp;</td>
          <td width="71">ST</td>
          <td width="124">Street</td>
        </tr>
        <tr>
          <td width="91">ADV</td>
          <td width="161">
            Advised</td>
          <td width="4" bgcolor="#808080">&nbsp;</td>
          <td>EB</td>
          <td>Eastbound</td>
          <td bgcolor="#808080">&nbsp;</td>
          <td>NIO</td>
          <td>No other Info.</td>
          <td bgcolor="#808080">&nbsp;</td>
          <td width="71">SUBJ</td>
          <td width="124">Subject</td>
        </tr>
        <tr>
          <td width="91">AUPE</td>
          <td width="161">
            Auto/Pedestrian Accident</td>
          <td width="4" bgcolor="#808080">&nbsp;</td>
          <td>FNU</td>
          <td>First Name Unknown</td>
          <td bgcolor="#808080">&nbsp;</td>
          <td>NIP</td>
          <td>Not in Progress</td>
          <td bgcolor="#808080">&nbsp;</td>
          <td>SUSP</td>
          <td>Suspect</td>
        </tr>
        <tr>
          <td width="91">AUTO/TREE</td>
          <td width="161">
            Auto/Tree Accident </td>
          <td width="4" bgcolor="#808080">&nbsp;</td>
          <td>FRK</td>
          <td>Fork in Road</td>
          <td bgcolor="#808080">&nbsp;</td>
          <td>NOS</td>
          <td>Not on Scene</td>
          <td bgcolor="#808080">&nbsp;</td>
          <td>SUS</td>
          <td>Suspect</td>
        </tr>
        <tr>
          <td width="91">BP</td>
          <td width="161">Blood Pressure</td>
          <td width="4" bgcolor="#808080">&nbsp;</td>
          <td>FRM</td>
          <td>Frame (house)</td>
          <td bgcolor="#808080">&nbsp;</td>
          <td>OB</td>
          <td>Outbound</td>
          <td bgcolor="#808080">&nbsp;</td>
          <td width="71">TR or PK</td>
          <td width="124">Truck/Pick up</td>
        </tr>
        <tr>
          <td width="91">BRK</td>
          <td width="161">Brick</td>
          <td width="4" bgcolor="#808080">&nbsp;</td>
          <td>FR</td>
          <td>Frame (house)</td>
          <td bgcolor="#808080">&nbsp;</td>
          <td>OCC</td>
          <td>Occurred</td>
          <td bgcolor="#808080">&nbsp;</td>
          <td>TWD</td>
          <td>Toward</td>
        </tr>
        <tr>
          <td width="91">BRTH</td>
          <td width="161">Breathing</td>
          <td width="4" bgcolor="#808080">&nbsp;</td>
          <td width="59">FRT</td>
          <td width="145">Front</td>
          <td bgcolor="#808080">&nbsp;</td>
          <td>OCC</td>
          <td>Occupied</td>
          <td bgcolor="#808080">&nbsp;</td>
          <td>UNK</td>
          <td>Unknown</td>
        </tr>
        <tr>
          <td width="91">BS</td>
          <td width="161">
            Blood Sugar</td>
          <td width="4" bgcolor="#808080">&nbsp;</td>
          <td width="59">HRT</td>
          <td width="145">Heart</td>
          <td bgcolor="#808080">&nbsp;</td>
          <td>OS</td>
          <td>On Scene</td>
          <td bgcolor="#808080">&nbsp;</td>
          <td width="71">UTL</td>
          <td width="124">Unable to Locate</td>
        </tr>
        <tr>
          <td width="91">BT</td>
          <td width="161">Black Top</td>
          <td width="4" bgcolor="#808080">&nbsp;</td>
          <td width="59">HX</td>
          <td width="145">Medical History</td>
          <td bgcolor="#808080">&nbsp;</td>
          <td>PD</td>
          <td>Police</td>
          <td bgcolor="#808080">&nbsp;</td>
          <td>VEH</td>
          <td>Vehicle</td>
        </tr>
        <tr>
          <td width="91">CB</td>
          <td width="161">Call Back</td>
          <td width="4" bgcolor="#808080">&nbsp;</td>
          <td width="59">IB</td>
          <td width="145">Inbound</td>
          <td width="4" bgcolor="#808080">&nbsp;</td>
          <td>PL</td>
          <td>Parking Lot</td>
          <td width="4" bgcolor="#808080">&nbsp;</td>
          <td>VIC</td>
          <td>Victim</td>
        </tr>
        <tr>
          <td width="91">CHF</td>
          <td width="161">Cronic Heart Failure</td>
          <td width="4" bgcolor="#808080">&nbsp;</td>
          <td width="59">IP</td>
          <td width="145">In Progress</td>
          <td width="4" bgcolor="#808080">&nbsp;</td>
          <td>PS</td>
          <td>Public Service</td>
          <td width="4" bgcolor="#808080">&nbsp;</td>
          <td>VICT</td>
          <td>Victim</td>
        </tr>
        <tr>
          <td width="91">CI</td>
          <td width="161">Circle</td>
          <td width="4" bgcolor="#808080">&nbsp;</td>
          <td width="59">JUV</td>
          <td width="145">Juvenile</td>
          <td width="4" bgcolor="#808080">&nbsp;</td>
          <td>PST</td>
          <td>Past</td>
          <td width="4" bgcolor="#808080">&nbsp;</td>
          <td>WB</td>
          <td>Westbound</td>
        </tr>
        <tr>
          <td width="91">CLR</td>
          <td width="161">Caller</td>
          <td width="4" bgcolor="#808080">&nbsp;</td>
          <td width="59">L</td>
          <td width="145">Left</td>
          <td width="4" bgcolor="#808080">&nbsp;</td>
          <td>PT</td>
          <td>Patient</td>
          <td width="4" bgcolor="#808080">&nbsp;</td>
          <td>XCROSS</td>
          <td>Across</td>
        </tr>
        <tr>
          <td width="91">COMP</td>
          <td width="161">Complaintant</td>
          <td width="4" bgcolor="#808080">&nbsp;</td>
          <td width="59">LSH</td>
          <td width="145">Last Seen Headed</td>
          <td width="4" bgcolor="#808080">&nbsp;</td>
          <td>PTRL</td>
          <td>Patrol</td>
          <td width="4" bgcolor="#808080">&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td width="91">
            CR</td>
          <td width="161">County Road</td>
          <td width="4" bgcolor="#808080">&nbsp;</td>
          <td width="59">LSD</td>
          <td width="145">Last Seen Driving</td>
          <td width="4" bgcolor="#808080">&nbsp;</td>
          <td>R</td>
          <td>Right</td>
          <td width="4" bgcolor="#808080">&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td width="91">
            CRV</td>
          <td width="161">Curve</td>
          <td width="4" bgcolor="#808080">&nbsp;</td>
          <td width="59">LSW</td>
          <td width="145">Last Seen Wearing</td>
          <td width="4" bgcolor="#808080">&nbsp;</td>
          <td>RD</td>
          <td>Road</td>
          <td width="4" bgcolor="#808080">&nbsp;</td>
          <td width="71">&nbsp;</td>
          <td width="124">&nbsp;</td>
        </tr>
        <tr>
          <td width="91">
            CT</td>
          <td width="161">Criminal Trespass</td>
          <td width="4" bgcolor="#808080">&nbsp;</td>
          <td width="59">LNU</td>
          <td width="145">Last Name Unknown</td>
          <td width="4" bgcolor="#808080">&nbsp;</td>
          <td>RE</td>
          <td>Reference</td>
          <td width="4" bgcolor="#808080">&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td width="91">
            DIFF</td>
          <td width="161">Difficulty</td>
          <td width="4" bgcolor="#808080">&nbsp;</td>
          <td width="59">M or MI</td>
          <td width="145">Mile</td>
          <td width="4" bgcolor="#808080">&nbsp;</td>
          <td width="40">RES</td>
          <td width="127">Residence</td>
          <td width="4" bgcolor="#808080">&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>DOS</td>
          <td>Dead on Scene</td>
          <td width="4" bgcolor="#808080">&nbsp;</td>
          <td width="59">MH</td>
          <td width="145">Mobile Home</td>
          <td width="4" bgcolor="#808080">&nbsp;</td>
          <td width="40">RR</td>
          <td width="127">Railroad</td>
          <td width="4" bgcolor="#808080">&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>DPS</td>
          <td>Dept Public Safety</td>
          <td width="4" bgcolor="#808080">&nbsp;</td>
          <td width="43">MPH</td>
          <td width="147">Miles per Hour</td>
          <td width="4" bgcolor="#808080">&nbsp;</td>
          <td width="40">SB</td>
          <td width="127">Southbound</td>
          <td width="4" bgcolor="#808080">&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>DRT RD</td>
          <td>Dirt Road</td>
          <td width="4" bgcolor="#808080">&nbsp;</td>
          <td width="43">MVA</td>
          <td width="147">Motor Vehicle Accdnt.</td>
          <td width="4" bgcolor="#808080">&nbsp;</td>
          <td width="40">SO</td>
          <td width="127">Sheriff Office</td>
          <td width="4" bgcolor="#808080">&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
      </table>
      <p>&nbsp;</td>
  </tr>
  <tr>
    <td align="center" width="32%">
      &nbsp;<p>&nbsp;</td>
  </tr>
  <tr>
    <td align="center" width="32%">
      <b><font color="#0000FF"><a name="10_CODE_">10 CODE</a></font></b></td>
  </tr>
  <tr>
    <td align="center" width="32%">
      <table border="0" width="100%">
        <tr>
          <td width="45">10-00</td>
          <td width="140">Lunch Break</td>
          <td width="14" bgcolor="#808080">&nbsp;</td>
          <td width="47">10-25</td>
          <td width="165">Report In Person</td>
          <td width="13" bgcolor="#808080">&nbsp;</td>
          <td width="43">10-50</td>
          <td width="149">Motor Vehicle Accident</td>
          <td width="13" bgcolor="#808080">&nbsp;</td>
          <td width="43">10-75</td>
          <td>In Contact With</td>
        </tr>
        <tr>
          <td width="45">10-1</td>
          <td width="140">Unable to Copy</td>
          <td width="14" bgcolor="#808080">&nbsp;</td>
          <td width="47">10-26</td>
          <td width="165">Detaining Subject Expedite </td>
          <td width="13" bgcolor="#808080">&nbsp;</td>
          <td width="43">10-51</td>
          <td width="149">Wrecker Needed</td>
          <td width="13" bgcolor="#808080">&nbsp;</td>
          <td width="43">10-76</td>
          <td>En Route</td>
        </tr>
        <tr>
          <td width="45">10-2</td>
          <td width="140">Signal Good</td>
          <td width="14" bgcolor="#808080">&nbsp;</td>
          <td width="47">10-27</td>
          <td width="165">Drivers License</td>
          <td width="13" bgcolor="#808080">&nbsp;</td>
          <td width="43">10-52</td>
          <td width="149">Ambulance Needed</td>
          <td width="13" bgcolor="#808080">&nbsp;</td>
          <td width="43">10-77</td>
          <td>ETA</td>
        </tr>
        <tr>
          <td width="45">10-3</td>
          <td width="140">Stop Transmitting</td>
          <td width="14" bgcolor="#808080">&nbsp;</td>
          <td width="47">10-28</td>
          <td width="165">License Check</td>
          <td width="13" bgcolor="#808080">&nbsp;</td>
          <td width="43">10-53</td>
          <td width="149">Road Blocked</td>
          <td width="13" bgcolor="#808080">&nbsp;</td>
          <td width="43">10-78</td>
          <td>Officer Needs Assistance</td>
        </tr>
        <tr>
          <td width="45">10-4</td>
          <td width="140">Acknowledge</td>
          <td width="14" bgcolor="#808080">&nbsp;</td>
          <td width="47">10-29</td>
          <td width="165">Check for Wanted</td>
          <td width="13" bgcolor="#808080">&nbsp;</td>
          <td width="43">10-54</td>
          <td width="149">Livestock on Roadway</td>
          <td width="13" bgcolor="#808080">&nbsp;</td>
          <td width="43">10-79</td>
          <td>Notify Coroner</td>
        </tr>
        <tr>
          <td width="45">10-5</td>
          <td width="140">Relay</td>
          <td width="14" bgcolor="#808080">&nbsp;</td>
          <td width="47">10-30</td>
          <td width="165">Illegal Use of Radio</td>
          <td width="13" bgcolor="#808080">&nbsp;</td>
          <td width="43">10-55</td>
          <td width="149">Intoxicated Driver</td>
          <td width="13" bgcolor="#808080">&nbsp;</td>
          <td width="43">10-80</td>
          <td>Chase in Progress</td>
        </tr>
        <tr>
          <td width="45">10-6</td>
          <td width="140">Busy unless Urgent</td>
          <td width="14" bgcolor="#808080">&nbsp;</td>
          <td width="47">10-31</td>
          <td width="165">Crime in Progress</td>
          <td width="13" bgcolor="#808080">&nbsp;</td>
          <td width="43">10-56</td>
          <td width="149">Intoxicated Person</td>
          <td width="13" bgcolor="#808080">&nbsp;</td>
          <td width="43">10-81</td>
          <td>Breatherlizer Report</td>
        </tr>
        <tr>
          <td width="45">10-7</td>
          <td width="140">Out of Service</td>
          <td width="14" bgcolor="#808080">&nbsp;</td>
          <td width="47">10-32</td>
          <td width="165">Subject with Gun</td>
          <td width="13" bgcolor="#808080">&nbsp;</td>
          <td width="43">10-57</td>
          <td width="149">Hit and Run Accident</td>
          <td width="13" bgcolor="#808080">&nbsp;</td>
          <td width="43">10-82</td>
          <td>Reserve Lodging</td>
        </tr>
        <tr>
          <td width="45">10-8</td>
          <td width="140">In Service</td>
          <td width="14" bgcolor="#808080">&nbsp;</td>
          <td width="47">10-33</td>
          <td width="165">Emergency</td>
          <td width="13" bgcolor="#808080">&nbsp;</td>
          <td width="43">10-58</td>
          <td width="149">Direct Traffic</td>
          <td width="13" bgcolor="#808080">&nbsp;</td>
          <td width="43">10-83</td>
          <td>Work School Zone</td>
        </tr>
        <tr>
          <td width="45">10-9</td>
          <td width="140">Repeat</td>
          <td width="14" bgcolor="#808080">&nbsp;</td>
          <td width="47">10-34</td>
          <td width="165">Riot</td>
          <td width="13" bgcolor="#808080">&nbsp;</td>
          <td width="43">10-59</td>
          <td width="149">Convoy or Escort</td>
          <td width="13" bgcolor="#808080">&nbsp;</td>
          <td width="43">10-84</td>
          <td>In meeting, advise time</td>
        </tr>
        <tr>
          <td width="45">10-10</td>
          <td width="140">Fight in Progress</td>
          <td width="14" bgcolor="#808080">&nbsp;</td>
          <td width="47">10-35</td>
          <td width="165">Major Crime Alert</td>
          <td width="13" bgcolor="#808080">&nbsp;</td>
          <td width="43">10-60</td>
          <td width="149">Squad in Vicinity</td>
          <td width="13" bgcolor="#808080">&nbsp;</td>
          <td width="43">10-85</td>
          <td>Delayed Due to</td>
        </tr>
        <tr>
          <td width="45">10-11</td>
          <td width="140">Dog Case</td>
          <td width="14" bgcolor="#808080">&nbsp;</td>
          <td width="47">10-36</td>
          <td width="165">Correct Time</td>
          <td width="13" bgcolor="#808080">&nbsp;</td>
          <td width="43">10-61</td>
          <td width="149">Personnel in Area</td>
          <td width="13" bgcolor="#808080">&nbsp;</td>
          <td width="43">10-86</td>
          <td>Officer/Operator on Duty</td>
        </tr>
        <tr>
          <td width="45">10-12</td>
          <td width="140">Stand By</td>
          <td width="14" bgcolor="#808080">&nbsp;</td>
          <td width="47">10-37</td>
          <td width="165">Suspicious Vehicle</td>
          <td width="13" bgcolor="#808080">&nbsp;</td>
          <td width="43">10-62</td>
          <td width="149">Reply to Message </td>
          <td width="13" bgcolor="#808080">&nbsp;</td>
          <td width="43">10-87</td>
          <td>Pickup/Distribute Check</td>
        </tr>
        <tr>
          <td width="45">10-13</td>
          <td width="140">Weather/Road Report</td>
          <td width="14" bgcolor="#808080">&nbsp;</td>
          <td width="47">10-38</td>
          <td width="165">Stopping Susp. Vehicle</td>
          <td width="13" bgcolor="#808080">&nbsp;</td>
          <td width="43">10-63</td>
          <td width="149">Prepare to Copy</td>
          <td width="13" bgcolor="#808080">&nbsp;</td>
          <td width="43">10-88</td>
          <td>Advise Present Phone #</td>
        </tr>
        <tr>
          <td width="45">10-14</td>
          <td width="140">Prowler Report</td>
          <td width="14" bgcolor="#808080">&nbsp;</td>
          <td width="47">10-39</td>
          <td width="165">Urgent use lights/sirens</td>
          <td width="13" bgcolor="#808080">&nbsp;</td>
          <td width="43">10-64</td>
          <td width="149">Message for delivery</td>
          <td width="13" bgcolor="#808080">&nbsp;</td>
          <td width="43">10-89</td>
          <td>Bomb Threat</td>
        </tr>
        <tr>
          <td width="45">10-15</td>
          <td width="140">Civil Disturbance</td>
          <td width="14" bgcolor="#808080">&nbsp;</td>
          <td width="47">10-40</td>
          <td width="165">Silent use no lights/sirens</td>
          <td width="13" bgcolor="#808080">&nbsp;</td>
          <td width="43">10-65</td>
          <td width="149">Net Message</td>
          <td width="13" bgcolor="#808080">&nbsp;</td>
          <td width="43">10-90</td>
          <td>Bank Alarm at</td>
        </tr>
        <tr>
          <td width="45">10-16</td>
          <td width="140">Domestic Problem</td>
          <td width="14" bgcolor="#808080">&nbsp;</td>
          <td width="47">10-41</td>
          <td width="165">Beginning Duty</td>
          <td width="13" bgcolor="#808080">&nbsp;</td>
          <td width="43">10-66</td>
          <td width="149">Message Cancelation</td>
          <td width="13" bgcolor="#808080">&nbsp;</td>
          <td width="43">10-91</td>
          <td>Pick up Prisoner/subject</td>
        </tr>
        <tr>
          <td width="45">10-17</td>
          <td width="140">Meet Complainant </td>
          <td width="14" bgcolor="#808080">&nbsp;</td>
          <td width="47">10-42</td>
          <td width="165">Ending Duty</td>
          <td width="13" bgcolor="#808080">&nbsp;</td>
          <td width="43">10-67</td>
          <td width="149">Clear for Net Message</td>
          <td width="13" bgcolor="#808080">&nbsp;</td>
          <td width="43">10-92</td>
          <td>Improperly Parked Vehicle</td>
        </tr>
        <tr>
          <td width="45">10-18</td>
          <td width="140">Complete Quickly</td>
          <td width="14" bgcolor="#808080">&nbsp;</td>
          <td width="47">10-43</td>
          <td width="165">Information/CCH</td>
          <td width="13" bgcolor="#808080">&nbsp;</td>
          <td width="43">10-68</td>
          <td width="149">Dispatch Information</td>
          <td width="13" bgcolor="#808080">&nbsp;</td>
          <td width="43">10-93</td>
          <td>Blockade</td>
        </tr>
        <tr>
          <td width="45">10-19</td>
          <td width="140">Return To</td>
          <td width="14" bgcolor="#808080">&nbsp;</td>
          <td width="47">10-44</td>
          <td width="165">Request to Leave</td>
          <td width="13" bgcolor="#808080">&nbsp;</td>
          <td width="43">10-69</td>
          <td width="149">Message Received</td>
          <td width="13" bgcolor="#808080">&nbsp;</td>
          <td width="43">10-94</td>
          <td>Drag Racing</td>
        </tr>
        <tr>
          <td width="45">10-20</td>
          <td width="140">Location</td>
          <td width="14" bgcolor="#808080">&nbsp;</td>
          <td width="47">10-45</td>
          <td width="165">Dead Animal in Road</td>
          <td width="13" bgcolor="#808080">&nbsp;</td>
          <td width="43">10-70</td>
          <td width="149">Fire Alarm</td>
          <td width="13" bgcolor="#808080">&nbsp;</td>
          <td width="43">10-95</td>
          <td>Prisoner/Subject in Custody </td>
        </tr>
        <tr>
          <td width="45">10-21</td>
          <td width="140">Call by Phone</td>
          <td width="14" bgcolor="#808080">&nbsp;</td>
          <td width="47">10-46</td>
          <td width="165">Assist Motorist </td>
          <td width="13" bgcolor="#808080">&nbsp;</td>
          <td width="43">10-71</td>
          <td width="149">Advise nature of Fire</td>
          <td width="13" bgcolor="#808080">&nbsp;</td>
          <td width="43">10-96</td>
          <td>Mental Subject</td>
        </tr>
        <tr>
          <td width="45">10-22</td>
          <td width="140">Disregard</td>
          <td width="14" bgcolor="#808080">&nbsp;</td>
          <td width="47">10-47</td>
          <td width="165">Emergency Road Repair</td>
          <td width="13" bgcolor="#808080">&nbsp;</td>
          <td width="43">10-72</td>
          <td width="149">Report Progress of fire</td>
          <td width="13" bgcolor="#808080">&nbsp;</td>
          <td width="43">10-97</td>
          <td>Check/Test Signal</td>
        </tr>
        <tr>
          <td width="45">10-23</td>
          <td width="140">On Scne</td>
          <td width="14" bgcolor="#808080">&nbsp;</td>
          <td width="47">10-48</td>
          <td width="165">Traffic/standard repair</td>
          <td width="13" bgcolor="#808080">&nbsp;</td>
          <td width="43">10-73</td>
          <td width="149">Smoke Report</td>
          <td width="13" bgcolor="#808080">&nbsp;</td>
          <td width="43">10-98</td>
          <td>Prisoner/Jail Break</td>
        </tr>
        <tr>
          <td width="45">10-24</td>
          <td width="140">Assignment Completed</td>
          <td width="14" bgcolor="#808080">&nbsp;</td>
          <td width="47">10-49</td>
          <td width="165">Traffic Light Out </td>
          <td width="13" bgcolor="#808080">&nbsp;</td>
          <td width="43">10-74</td>
          <td width="149">Negative</td>
          <td width="13" bgcolor="#808080">&nbsp;</td>
          <td width="43">10-99</td>
          <td>Wanted subject/Property</td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<div align="center">
  <table border="0" width="100%">
    <tr>
      <td align="center">
        <p style="margin-top: 0; margin-bottom: 0">

      </td>
    </tr>
  </table>
</div>
<br>
<br>
<br>

<div align="center">
  <b><font color="#0000FF"><a name="PHONE_A">PHONETIC ALPHABET</a></font></b>

  <table width="200" border="1">
    <tbody>
    <tr>
      <td><strong>A</strong>lfa</td>
      <td><strong>B</strong>ravo</td>
      <td><strong>C</strong>harlie </td>
    </tr>
    <tr>
      <td><strong>D</strong>elta </td>
      <td style="font-size: 18px"> <strong>E</strong>cho</td>
      <td> <strong>F</strong>oxtrot</td>
    </tr>
    <tr>
      <td> <strong>G</strong>olf</td>
      <td> <strong>H</strong>otel</td>
      <td> <strong>I</strong>ndia</td>
    </tr>
    <tr>
      <td><strong>J</strong>uliett </td>
      <td><strong>K</strong>ilo </td>
      <td> <strong>L</strong>ima</td>
    </tr>
    <tr>
      <td> <strong>M</strong>ike</td>
      <td><strong>N</strong>ovember </td>
      <td> <strong>O</strong>scar</td>
    </tr>
    <tr>
      <td> <strong>P</strong>apa</td>
      <td> <strong>Q</strong>uebec</td>
      <td> <strong>R</strong>omeo</td>
    </tr>
    <tr>
      <td> <strong>S</strong>ierra</td>
      <td> <strong>T</strong>ango</td>
      <td> <strong>U</strong>niform</td>
    </tr>
    <tr>
      <td> <strong>V</strong>ictor</td>
      <td> <strong>W</strong>hiskey</td>
      <td><strong>X</strong>-Ray </td>
    </tr>
    <tr>
      <td> <strong>Y</strong>ankee</td>
      <td> <strong>Z</strong>ulu</td>
      <td>&nbsp;</td>
    </tr>
    </tbody>
  </table><br>
  <br>

  <b><font color="#0000FF"><a name="MIL_TIME">MILITARY TIME</a></font></b>

  <table width="500" border="1">
    <tbody>
    <tr>
      <td><strong>Regular Time </strong></td>
      <td><strong> Military Time</strong></td>
      <td><strong> Regular Time</strong></td>
      <td><strong> Military Time</strong></td>
    </tr>
    <tr>
      <td> Midnight</td>
      <td> 0000</td>
      <td> Noon</td>
      <td> 1200</td>
    </tr>
    <tr>
      <td>1:00 a.m. </td>
      <td> 0100</td>
      <td>1:00 p.m. </td>
      <td>1300 </td>
    </tr>
    <tr>
      <td> 2:00 a.m. </td>
      <td> 0200</td>
      <td>2:00 p.m. </td>
      <td>1400 </td>
    </tr>
    <tr>
      <td> 3:00 a.m. </td>
      <td> 0300</td>
      <td>3:00 p.m. </td>
      <td>1500 </td>
    </tr>
    <tr>
      <td> 4:00 a.m. </td>
      <td>0400 </td>
      <td>4:00 p.m. </td>
      <td>1600 </td>
    </tr>
    <tr>
      <td> 5:00 a.m. </td>
      <td>0500 </td>
      <td>5:00 p.m. </td>
      <td>1700 </td>
    </tr>
    <tr>
      <td> 6:00 a.m. </td>
      <td> 0600</td>
      <td>6:00 p.m. </td>
      <td>1800 </td>
    </tr>
    <tr>
      <td> 7:00 a.m. </td>
      <td> 0700</td>
      <td>7:00 p.m. </td>
      <td>1900 </td>
    </tr>
    <tr>
      <td> 8:00 a.m. </td>
      <td> 0800</td>
      <td>8:00 p.m. </td>
      <td>2000 </td>
    </tr>
    <tr>
      <td> 9:00 a.m. </td>
      <td> 0900</td>
      <td>9:00 p.m. </td>
      <td>2100 </td>
    </tr>
    <tr>
      <td> 10:00 a.m.</td>
      <td>1000 </td>
      <td>10:00 p.m. </td>
      <td>2200 </td>
    </tr>
    <tr>
      <td>11:00 a.m.</td>
      <td>1100 </td>
      <td>11:00 p.m. </td>
      <td>2300 </td>
    </tr>
    </tbody>
  </table>


</div>
<center><a href="#Common_Abbreviations_">back to top</a></center>
</body>