<html>

<head>
  <meta http-equiv="Content-Language" content="en-us">
  <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
  <title>Notification Matrix</title>
  <style>
    <!--
    div.Section1
    {page:Section1;}
    -->
  </style>
</head>

<body>

<div align="center">
  &nbsp;<table border="1" width="85%">
  <tr>
    <td>
      <p align="center"><font face="Arial Black"><b>
        <a name="Emergency_Notification_Matrix_">Emergency Notification
          Matrix</a></b></font><p align="center"><b><font face="Arial Black">
      Matrix call out personnel are found in the Everbridge system
      PD-MATRIX group.&nbsp; The Everbridge system should be used whenever
      possible for Matrix emergency notifications.</font></b></td>
  </tr>
</table>
  <blockquote>
    <div align="left">
      <table border="1" width="94%">
        <tr>
          <td align="center" width="233"><b>
            <font color="#FF0000" face="Arial" size="2">Weather Hazards</font></b></td>
          <td align="center" width="217"><b>
            <font color="#FF0000" face="Arial" size="2">Technological
              Hazards</font></b></td>
          <td align="center"><b>
            <font color="#FF0000" face="Arial" size="2">Utility Outages</font></b></td>
        </tr>
        <tr>
          <td width="233"><font face="Arial" size="2">
            <a href="#Flash_Flood_Watch"><font color="#FF00FF">Flash Flood
              Watch - Local</font> </a></font></td>
          <td width="217"><font face="Arial" size="2">
            <a style="color: #FF00FF" href="#Aircraft_Crash_in_City/County">Aircraft crash&nbsp;
              city or county</a></font></td>
          <td><font face="Arial" size="2" color="#FF00FF">
            <a style="color: #FF00FF" href="#Electrical_Outage_-_500+_Users_over_2_hours_">Electrical Outage&nbsp;&nbsp;
              500+ users/2hrs</a></font></td>
        </tr>
        <tr>
          <td width="233" height="21"><font face="Arial" size="2">
            <a href="#Flash_Flood_Warning"><font color="#800000">Flash Flood
              Warning - Local </font></a></font></td>
          <td width="217" height="21">
            <a href="#Any Type Structure Fire"><font color="#000000">Any
              Type Structure Fire</font></a></td>
          <td height="21"><font face="Arial" size="2">
            <a style="color: #800000" href="#Electrical_Outage_-_Critical_Facility_">
              Electrical Outage - Critical Facility</a></font></td>
        </tr>
        <tr>
          <td width="233"><font face="Arial" size="2" color="#0000FF">
            <a style="color: #0000FF" href="#Flash_Flood">Flood Watch -
              Local </a> </font></td>
          <td width="217">
            <font face="Arial" size="2" color="#800000">
              <a style="color: #800000" href="#Fire_2_Alarm_or_Less">Fire - 2 Alarm or
                Less</a></font></td>
          <td><font face="Arial" size="2">
            <a style="color: #0000FF" href="#Sewer_Outage_-_Critical_Facility_">Sewage Outage -
              Critical Facility</a></font></td>
        </tr>
        <tr>
          <td width="233"><font face="Arial" size="2">
            <a style="color: #00FF00" href="#Flood_Warning">Flood Warning -
              Local </a> </font></td>
          <td width="217"><font face="Arial" size="2" color="#0000FF">
            <a href="#Fire_3_Alarm_in_City_or_County_">Fire - 3 Alarm+&nbsp;
              City or County</a></font></td>
          <td>
            <a style="color: #0000FF" href="#Sewage_Spill_affecting_Waterways">
              Sewage Spill Affecting Waterways</a></td>
        </tr>
        <tr>
          <td width="233"><font face="Arial" size="2" color="#800000">
            <a style="color: #FF0000" href="#Severe_Thunderstorm_Watch_">Severe
              Thunderstorm Watch-Local</a></font></td>
          <td width="217"><font face="Arial" size="2">
            <a style="color: #00FF00" href="#Mass_Casualty_Incident__10+_">
              Mass Casualty Incident&nbsp; 10+</a> </font></td>
          <td><font face="Arial" size="2">
            <a style="color: #00FF00" href="#Water_Outage_-_500+_Users_over_2_hours__">Water Outage&nbsp;
              500+ users</a></font></td>
        </tr>
        <tr>
          <td width="233"><font face="Arial" size="2">
            <a style="color: #FF00FF" href="#Severe_Thunderstorm_Warning">Severe
              Thunderstorm Warning-Local</a></font></td>
          <td width="217"><font face="Arial" size="2">
            <a style="color: #FF0000" href="#Hazmat_Spill_with_Casualties/Evacuations">Hazmat
              with Casualties/Evacuation</a></font></td>
          <td><font face="Arial" size="2">
            <a style="color: #FF0000" href="#Water_Outage_-_Critical_Facility_">Water
              Outage - Critical Facility</a></font></td>
        </tr>
        <tr>
          <td width="233"><font face="Arial" size="2">
            <a style="color: #800000" href="#Tropical_Weather_System_in_Gulf_Waters_">Tropical Weather System
              - Gulf water</a></font></td>
          <td width="217"><font face="Arial" size="2">
            <a style="color: #FF00FF" href="#Hazmat_Spill_with_Environmental_Impact">Hazmat
              with Environment Impact</a></font></td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td width="233"><font face="Arial" size="2">
            <a style="color: #0000FF" href="#Tropical_Weather_Watch_or_Warning_">Tropical Weather or Warning</a></font></td>
          <td width="217"><font size="2" face="Arial">
            <a style="color: #800000" href="#Possible_Contaminated_Drinking_Water">Contaminated Drinking Water</a></font></td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td width="233"><font face="Arial" size="2">
            <a style="color: #00FF00" href="#Tornado_Watch_-_Local_Area_">Tornado Watch
              - Local</a></font></td>
          <td width="217"><font face="Arial" size="2">
            <a style="color: #0000FF" href="#Major_Explosion">Major Explosion</a></font></td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td width="233"><font face="Arial" size="2">
            <a style="color: #FF0000" href="#Tornado_Warning_-_Local">Tornado Warning
              - Local</a></font></td>
          <td width="217">&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td width="233"><font face="Arial" size="2">
            <a style="color: #FF00FF" href="#Winter_Storm_Watch_-_Local">Winter Storm Watch
              - Local</a></font></td>
          <td width="217">&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td width="233"><font face="Arial" size="2">
            <a style="color: #800000" href="#Winter_Storm_Warning">Winter Storm Warning
              - Local</a></font></td>
          <td width="217">&nbsp;</td>
          <td>
            &nbsp;</td>
        </tr>
      </table>
    </div>
  </blockquote>
  <table border="1" width="100%">
    <tr>
      <td align="center" colspan="2"><font color="#FF0000"><b>Security
        Issues</b></font></td>
    </tr>
    <tr>
      <td align="center" width="49%"><font face="Arial" size="2">
        <a style="color: #0000FF" href="#Major_Civil_Disturbance_">Major
          Civil Disturbances</a></font></td>
      <td align="center" width="49%"><font face="Arial" size="2">
        <a style="color: #0000FF" href="#Terrorist_Incident_">Terrorist
          Incident</a></font></td>
    </tr>
  </table>
</div>
<p>&nbsp;</p>
<p style="margin-top: 0; margin-bottom: 0"><b><font color="#FF00FF">
  <a name="Flash_Flood_Watch">Flash Flood Watch</a> - Local Area</font></b></p>
<table border="1" width="100%">
  <tr>
    <td width="16%">EMC / Asst. City Manager</td>
    <td width="14%">Steve Floyd</td>
    <td>Home 875-7592</td>
    <td>Cell 240-6162</td>
    <td width="43%">&nbsp;</td>
  </tr>
  <tr>
    <td width="16%">Public Notification</td>
    <td width="14%">Randy Cadwell</td>
    <td width="13%">Home 229-1831 </td>
    <td width="11%">Cell 329-1374</td>
    <td width="43%">&nbsp;</td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#0000FF">Police Chief</font></b></td>
    <td width="14%"><b><font color="#0000FF">Gerald Williamson</font></b></td>
    <td width="13%"><b><font color="#0000FF">Home&nbsp; 829-7271</font></b></td>
    <td width="11%"><b><font color="#0000FF">Cell&nbsp; 414-3421&nbsp;
    </font></b> </td>
    <td width="43%">&nbsp;</td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#0000FF">Asst. Police Chief</font></b></td>
    <td width="14%"><font color="#0000FF"><b>David Thomas</b></font></td>
    <td width="13%"><b><font color="#0000FF">Home&nbsp; 632-6102</font></b></td>
    <td width="11%"><b><font color="#0000FF">Cell&nbsp; 225-2339</font></b></td>
    <td width="43%">&nbsp;</td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#0000FF">Lt. of Support</font></b></td>
    <td width="14%"><font color="#0000FF"><b>Scott Cagnon</b></font></td>
    <td width="13%"><b><font color="#0000FF">Home 366-0233</font></b></td>
    <td width="11%"><b><font color="#0000FF">Cell 366-0233</font></b></td>
    <td width="43%">&nbsp;</td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#FF0000">Fire Chief</font></b></td>
    <td width="14%"><font color="#FF0000"><b>Ted Lovett</b></font></td>
    <td width="13%"><b><font color="#FF0000">Home </font></b>
      <font color="#FF0000"><b>824-2651</b></font></td>
    <td width="11%"><b><font color="#FF0000">Cell
    </font></b><font color="#FF0000"><b>414-4308</b></font></td>
    <td width="43%">&nbsp;</td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#FF0000">Asst. Fire Chief</font></b></td>
    <td width="14%"><b><font color="#FF0000">Duane Freeman</font></b></td>
    <td width="13%"><b><font color="#FF0000">Home 637-2031</font></b></td>
    <td width="11%"><b><font color="#FF0000">Cell 674-7654 </font></b> </td>
    <td width="43%">&nbsp;</td>
  </tr>
  <tr>
    <td width="159"><b><font color="#FF0000">Battalion Chief</font></b></td>
    <td width="134">&nbsp;</td>
    <td>&nbsp;</td>
    <td><b><font color="#FF0000">Cell 465-4465&nbsp;&nbsp;
    </font></b> </td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="16%">City Manager</td>
    <td width="14%">Keith Wright</td>
    <td width="13%">Home 897-3465</td>
    <td width="11%">Cell 414-1134</td>
    <td width="43%">&nbsp;</td>
  </tr>
</table>
<p style="margin-top: 0; margin-bottom: 0">&nbsp;</p>
<p style="margin-top: 0; margin-bottom: 0"><font color="#800000">
  <b>
    <a name="Flash_Flood_Warning">Flash Flood Warning</a> - Local Area&nbsp;</b> </font>
</p>
<table border="1" width="100%">
  <tr>
    <td width="16%">EMC / Asst. City Manager</td>
    <td width="14%">Steve Floyd</td>
    <td>Home 875-7592</td>
    <td>Cell 240-6162</td>
    <td width="43%">&nbsp;</td>
  </tr>
  <tr>
    <td width="16%">Public Notification</td>
    <td width="14%">Randy Cadwell</td>
    <td width="13%">Home 229-1831 </td>
    <td width="11%">Cell 329-1374</td>
    <td width="43%">&nbsp;</td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#0000FF">Police Chief</font></b></td>
    <td width="14%"><b><font color="#0000FF">Gerald Williamson</font></b></td>
    <td width="13%"><b><font color="#0000FF">Home&nbsp; 829-7271</font></b></td>
    <td width="11%"><b><font color="#0000FF">Cell&nbsp; 414-3421&nbsp;
    </font></b> </td>
    <td width="43%">&nbsp;</td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#0000FF">Asst. Police Chief</font></b></td>
    <td width="14%"><font color="#0000FF"><b>David Thomas</b></font></td>
    <td width="13%"><b><font color="#0000FF">Home&nbsp; 632-6102</font></b></td>
    <td width="11%"><b><font color="#0000FF">Cell&nbsp; 225-2339</font></b></td>
    <td width="43%">&nbsp;</td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#0000FF">Lt. of Support</font></b></td>
    <td width="14%"><font color="#0000FF"><b>Scott Cagnon</b></font></td>
    <td width="13%"><b><font color="#0000FF">Home 366-0233</font></b></td>
    <td width="11%"><b><font color="#0000FF">Cell 366-0233</font></b></td>
    <td width="43%">&nbsp;</td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#FF0000">Fire Chief</font></b></td>
    <td width="14%"><font color="#FF0000"><b>Ted Lovett</b></font></td>
    <td width="13%"><b><font color="#FF0000">Home </font></b>
      <font color="#FF0000"><b>824-2651</b></font></td>
    <td width="11%"><b><font color="#FF0000">Cell
    </font></b><font color="#FF0000"><b>414-4308</b></font></td>
    <td width="43%">&nbsp;</td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#FF0000">Asst. Fire Chief</font></b></td>
    <td width="14%"><b><font color="#FF0000">Duane Freeman</font></b></td>
    <td width="13%"><b><font color="#FF0000">Home 637-2031</font></b></td>
    <td width="11%"><b><font color="#FF0000">Cell 674-7654 </font></b> </td>
    <td width="43%">&nbsp;</td>
  </tr>
  <tr>
    <td width="159"><b><font color="#FF0000">Battalion Chief</font></b></td>
    <td width="134">&nbsp;</td>
    <td>&nbsp;</td>
    <td><b><font color="#FF0000">Cell 465-4465&nbsp;&nbsp;
    </font></b> </td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="16%">City Manager</td>
    <td width="14%">Keith Wright</td>
    <td width="13%">Home 897-3465</td>
    <td width="11%">Cell 414-1134</td>
    <td width="43%">&nbsp;</td>
  </tr>
</table>

<p style="margin-top: 0; margin-bottom: 0" align="center">
  <font color="#800000" size="1"><a href="#Emergency_Notification_Matrix_">Back to
    top</a></font></p>
<p style="margin-top: 0; margin-bottom: 0"><b><font color="#0000FF">
  <a name="Flash_Flood">Flood Watch</a> - Local Area</font></b><font color="#800000"><b>
</b>&nbsp;</font></p>
<table border="1" width="100%">
  <tr>
    <td width="15%">EMC / Asst. City Manager</td>
    <td width="13%">Steve Floyd</td>
    <td>Home 875-7592</td>
    <td>Cell 240-6162</td>
    <td width="43%">&nbsp;</td>
  </tr>
  <tr>
    <td width="15%">Public Notification</td>
    <td width="13%">Randy Cadwell</td>
    <td width="12%">Home 229-1831 </td>
    <td width="12%">Cell 329-1374</td>
    <td width="43%">&nbsp;</td>
  </tr>
  <tr>
    <td width="15%"><b><font color="#0000FF">Police Chief</font></b></td>
    <td width="14%"><b><font color="#0000FF">Gerald Williamson</font></b></td>
    <td width="13%"><b><font color="#0000FF">Home&nbsp; 829-7271</font></b></td>
    <td width="12%"><b><font color="#0000FF">Cell&nbsp; 414-3421&nbsp;
    </font></b> </td>
    <td width="43%">&nbsp;</td>
  </tr>
  <tr>
    <td width="15%"><b><font color="#0000FF">Asst. Police Chief</font></b></td>
    <td width="14%"><font color="#0000FF"><b>David Thomas</b></font></td>
    <td width="13%"><b><font color="#0000FF">Home&nbsp; 632-6102</font></b></td>
    <td width="12%"><b><font color="#0000FF">Cell&nbsp; 225-2339</font></b></td>
    <td width="43%">&nbsp;</td>
  </tr>
  <tr>
    <td width="15%"><b><font color="#0000FF">Lt. of Support</font></b></td>
    <td width="14%"><font color="#0000FF"><b>Scott Cagnon</b></font></td>
    <td width="13%"><b><font color="#0000FF">Home 366-0233</font></b></td>
    <td width="12%"><b><font color="#0000FF">Cell 366-0233</font></b></td>
    <td width="43%">&nbsp;</td>
  </tr>
  <tr>
    <td width="15%"><b><font color="#FF0000">Fire Chief</font></b></td>
    <td width="13%"><font color="#FF0000"><b>Ted Lovett</b></font></td>
    <td width="12%"><b><font color="#FF0000">Home </font></b>
      <font color="#FF0000"><b>824-2651</b></font></td>
    <td width="12%"><b><font color="#FF0000">Cell
    </font></b><font color="#FF0000"><b>414-4308</b></font></td>
    <td width="43%">&nbsp;</td>
  </tr>
  <tr>
    <td width="15%"><b><font color="#FF0000">Asst. Fire Chief</font></b></td>
    <td width="13%"><b><font color="#FF0000">Duane Freeman</font></b></td>
    <td width="12%"><b><font color="#FF0000">Home 637-2031</font></b></td>
    <td width="12%"><b><font color="#FF0000">Cell 674-7654 </font></b> </td>
    <td width="43%">&nbsp;</td>
  </tr>
  <tr>
    <td width="159"><b><font color="#FF0000">Battalion Chief</font></b></td>
    <td width="134">&nbsp;</td>
    <td>&nbsp;</td>
    <td><b><font color="#FF0000">Cell 465-4465&nbsp;&nbsp;
    </font></b> </td>
    <td>&nbsp;</td>
  </tr>
</table>

<p style="margin-top: 0; margin-bottom: 0" align="center">
  <font color="#800000" size="1"><a href="#Emergency_Notification_Matrix_">Back to
    top</a></font></p>
<p style="margin-top: 0; margin-bottom: 0"><font color="#00FF00">
  <b><a name="Flood_Warning">Flood Warning</a> - Local Area</b>&nbsp; </font>
</p>
<table border="1" width="100%">
  <tr>
    <td width="15%">EMC / Asst. City Manager</td>
    <td width="13%">Steve Floyd</td>
    <td>Home 875-7592</td>
    <td>Cell 240-6162</td>
    <td width="43%">&nbsp;</td>
  </tr>
  <tr>
    <td width="15%">Public Notification</td>
    <td width="13%">Randy Cadwell</td>
    <td width="12%">Home 229-1831 </td>
    <td width="12%">Cell 329-1374</td>
    <td width="43%">&nbsp;</td>
  </tr>
  <tr>
    <td width="15%"><b><font color="#0000FF">Police Chief</font></b></td>
    <td width="14%"><b><font color="#0000FF">Gerald Williamson</font></b></td>
    <td width="13%"><b><font color="#0000FF">Home&nbsp; 829-7271</font></b></td>
    <td width="12%"><b><font color="#0000FF">Cell&nbsp; 414-3421&nbsp;
    </font></b> </td>
    <td width="43%">&nbsp;</td>
  </tr>
  <tr>
    <td width="15%"><b><font color="#0000FF">Asst. Police Chief</font></b></td>
    <td width="14%"><font color="#0000FF"><b>David Thomas</b></font></td>
    <td width="13%"><b><font color="#0000FF">Home&nbsp; 632-6102</font></b></td>
    <td width="12%"><b><font color="#0000FF">Cell&nbsp; 225-2339</font></b></td>
    <td width="43%">&nbsp;</td>
  </tr>
  <tr>
    <td width="15%"><b><font color="#0000FF">Lt. of Support</font></b></td>
    <td width="14%"><font color="#0000FF"><b>Scott Cagnon</b></font></td>
    <td width="13%"><b><font color="#0000FF">Home 366-0233</font></b></td>
    <td width="12%"><b><font color="#0000FF">Cell 366-0233</font></b></td>
    <td width="43%">&nbsp;</td>
  </tr>
  <tr>
    <td width="15%"><font color="#FF0000"><b>Fire Chief</b></font></td>
    <td width="13%"><font color="#FF0000"><b>Ted Lovett</b></font></td>
    <td width="12%"><b><font color="#FF0000">Home </font></b>
      <font color="#FF0000"><b>824-2651</b></font></td>
    <td width="12%"><b><font color="#FF0000">Cell
    </font></b><font color="#FF0000"><b>414-4308</b></font></td>
    <td width="43%">&nbsp;</td>
  </tr>
  <tr>
    <td width="15%"><font color="#FF0000"><b>Asst. Fire Chief</b></font></td>
    <td width="13%"><font color="#FF0000"><b>Duane Freeman</b></font></td>
    <td width="12%"><font color="#FF0000"><b>Home 637-2031</b></font></td>
    <td width="12%"><b><font color="#FF0000">Cell 674-7654 </font></b> </td>
    <td width="43%">&nbsp;</td>
  </tr>
  <tr>
    <td width="159"><b><font color="#FF0000">Battalion Chief</font></b></td>
    <td width="134">&nbsp;</td>
    <td>&nbsp;</td>
    <td><b><font color="#FF0000">Cell 465-4465&nbsp;&nbsp;
    </font></b> </td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="15%">City Manager</td>
    <td width="13%">Keith Wright</td>
    <td width="12%">Home 897-3465</td>
    <td width="12%">Cell 414-1134</td>
    <td width="43%">&nbsp;</td>
  </tr>
</table>

<p style="margin-top: 0; margin-bottom: 0" align="center">
  <font color="#800000" size="1"><a href="#Emergency_Notification_Matrix_">Back to
    top</a></font></p>
<p style="margin-top: 0; margin-bottom: 0"><b><font color="#FF0000">
  <a name="Severe_Thunderstorm_Watch_">Severe Thunderstorm Watch</a></font></b></p>
<table border="1" width="100%">
  <tr>
    <td width="159">EMC / Asst. City Manager</td>
    <td width="134">Steve Floyd</td>
    <td>Home 875-7592</td>
    <td>Cell 240-6162</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="159">Public Notification</td>
    <td width="134">Randy Cadwell</td>
    <td width="129">Home 229-1831 </td>
    <td width="103">Cell 329-1374</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#0000FF">Police Chief</font></b></td>
    <td width="14%"><b><font color="#0000FF">Gerald Williamson</font></b></td>
    <td width="13%"><b><font color="#0000FF">Home&nbsp; 829-7271</font></b></td>
    <td width="13%"><b><font color="#0000FF">Cell&nbsp; 414-3421&nbsp;
    </font></b> </td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#0000FF">Asst. Police Chief</font></b></td>
    <td width="14%"><font color="#0000FF"><b>David Thomas</b></font></td>
    <td width="13%"><b><font color="#0000FF">Home&nbsp; 632-6102</font></b></td>
    <td width="13%"><b><font color="#0000FF">Cell&nbsp; 225-2339</font></b></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#0000FF">Lt. of Support</font></b></td>
    <td width="14%"><font color="#0000FF"><b>Scott Cagnon</b></font></td>
    <td width="13%"><b><font color="#0000FF">Home 366-0233</font></b></td>
    <td width="13%"><b><font color="#0000FF">Cell 366-0233</font></b></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#FF0000">Fire Chief</font></b></td>
    <td width="14%"><font color="#FF0000"><b>Ted Lovett</b></font></td>
    <td width="13%"><b><font color="#FF0000">Home </font></b>
      <font color="#FF0000"><b>824-2651</b></font></td>
    <td width="13%"><b><font color="#FF0000">Cell
    </font></b><font color="#FF0000"><b>414-4308</b></font></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="159"><b><font color="#FF0000">Asst. Fire Chief</font></b></td>
    <td width="134"><b><font color="#FF0000">Duane Freeman</font></b></td>
    <td width="129"><b><font color="#FF0000">Home 637-2031</font></b></td>
    <td width="13%"><b><font color="#FF0000">Cell 674-7654 </font></b> </td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="159"><b><font color="#FF0000">Battalion Chief</font></b></td>
    <td width="134">&nbsp;</td>
    <td>&nbsp;</td>
    <td><b><font color="#FF0000">Cell 465-4465&nbsp;&nbsp;
    </font></b> </td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="159">City Manager</td>
    <td width="134">Keith Wright</td>
    <td width="129">Home 897-3465</td>
    <td width="103">Cell 414-1134</td>
    <td>&nbsp;</td>
  </tr>
</table>

<p style="margin-top: 0; margin-bottom: 0" align="center">
  <font color="#800000" size="1"><a href="#Emergency_Notification_Matrix_">Back to
    top</a></font></p>
<p style="margin-top: 0; margin-bottom: 0"><b><font color="#FF00FF">
  <a name="Severe_Thunderstorm_Warning">Severe Thunderstorm Warning</a></font></b></p>
<table border="1" width="100%">
  <tr>
    <td width="159">EMC / Asst. City Manager</td>
    <td width="134">Steve Floyd</td>
    <td>Home 875-7592</td>
    <td>Cell 240-6162</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="159">Public Notification</td>
    <td width="134">Randy Cadwell</td>
    <td width="129">Home 229-1831 </td>
    <td width="103">Cell 329-1374</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#0000FF">Police Chief</font></b></td>
    <td width="14%"><b><font color="#0000FF">Gerald Williamson</font></b></td>
    <td width="13%"><b><font color="#0000FF">Home&nbsp; 829-7271</font></b></td>
    <td width="13%"><b><font color="#0000FF">Cell&nbsp; 414-3421&nbsp;
    </font></b> </td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#0000FF">Asst. Police Chief</font></b></td>
    <td width="14%"><font color="#0000FF"><b>David Thomas</b></font></td>
    <td width="13%"><b><font color="#0000FF">Home&nbsp; 632-6102</font></b></td>
    <td width="13%"><b><font color="#0000FF">Cell&nbsp; 225-2339</font></b></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#0000FF">Lt. of Support</font></b></td>
    <td width="14%"><font color="#0000FF"><b>Scott Cagnon</b></font></td>
    <td width="13%"><b><font color="#0000FF">Home 366-0233</font></b></td>
    <td width="13%"><b><font color="#0000FF">Cell 366-0233</font></b></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#FF0000">Fire Chief</font></b></td>
    <td width="14%"><font color="#FF0000"><b>Ted Lovett</b></font></td>
    <td width="13%"><b><font color="#FF0000">Home </font></b>
      <font color="#FF0000"><b>824-2651</b></font></td>
    <td width="13%"><b><font color="#FF0000">Cell
    </font></b><font color="#FF0000"><b>414-4308</b></font></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="159"><b><font color="#FF0000">Asst. Fire Chief</font></b></td>
    <td width="134"><b><font color="#FF0000">Duane Freeman</font></b></td>
    <td width="129"><b><font color="#FF0000">Home 637-2031</font></b></td>
    <td width="13%"><b><font color="#FF0000">Cell 674-7654 </font></b> </td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="159"><b><font color="#FF0000">Battalion Chief</font></b></td>
    <td width="134">&nbsp;</td>
    <td>&nbsp;</td>
    <td><b><font color="#FF0000">Cell 465-4465&nbsp;&nbsp;
    </font></b> </td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="159">City Manager</td>
    <td width="134">Keith Wright</td>
    <td width="129">Home 897-3465</td>
    <td width="103">Cell 414-1134</td>
    <td>&nbsp;</td>
  </tr>
</table>

<p style="margin-top: 0; margin-bottom: 0" align="center">
  <font color="#800000" size="1"><a href="#Emergency_Notification_Matrix_">Back to
    top</a></font></p>
<p style="margin-top: 0; margin-bottom: 0"><b><font color="#800000">
  <a name="Tropical_Weather_System_in_Gulf_Waters_">Tropical Weather System in
    Gulf Waters</a></font></b></p>
<table border="1" width="100%">
  <tr>
    <td width="159">EMC / Asst. City Manager</td>
    <td width="134">Steve Floyd</td>
    <td>Home 875-7592</td>
    <td>Cell 240-6162</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="159">Public Notification</td>
    <td width="134">Randy Cadwell</td>
    <td width="129">Home 229-1831 </td>
    <td width="103">Cell 329-1374</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#0000FF">Police Chief</font></b></td>
    <td width="14%"><b><font color="#0000FF">Gerald Williamson</font></b></td>
    <td width="13%"><b><font color="#0000FF">Home&nbsp; 829-7271</font></b></td>
    <td width="13%"><b><font color="#0000FF">Cell&nbsp; 414-3421&nbsp;
    </font></b> </td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#0000FF">Asst. Police Chief</font></b></td>
    <td width="14%"><font color="#0000FF"><b>David Thomas</b></font></td>
    <td width="13%"><b><font color="#0000FF">Home&nbsp; 632-6102</font></b></td>
    <td width="13%"><b><font color="#0000FF">Cell&nbsp; 225-2339</font></b></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#0000FF">Lt. of Support</font></b></td>
    <td width="14%"><font color="#0000FF"><b>Scott Cagnon</b></font></td>
    <td width="13%"><b><font color="#0000FF">Home 366-0233</font></b></td>
    <td width="13%"><b><font color="#0000FF">Cell 366-0233</font></b></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="16%"><font color="#FF0000"><b>Fire Chief</b></font></td>
    <td width="14%"><font color="#FF0000"><b>Ted Lovett</b></font></td>
    <td width="13%"><b><font color="#FF0000">Home </font></b>
      <font color="#FF0000"><b>824-2651</b></font></td>
    <td width="13%"><b><font color="#FF0000">Cell
    </font></b><font color="#FF0000"><b>414-4308</b></font></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="159"><font color="#FF0000"><b>Asst. Fire Chief</b></font></td>
    <td width="134"><font color="#FF0000"><b>Duane Freeman</b></font></td>
    <td width="129"><font color="#FF0000"><b>Home 637-2031</b></font></td>
    <td width="13%"><b><font color="#FF0000">Cell 674-7654 </font></b> </td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="159"><b><font color="#FF0000">Battalion Chief</font></b></td>
    <td width="134">&nbsp;</td>
    <td>&nbsp;</td>
    <td><b><font color="#FF0000">Cell 465-4465&nbsp;&nbsp;
    </font></b> </td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="159">City Manager</td>
    <td width="134">Keith Wright</td>
    <td width="129">Home 897-3465</td>
    <td width="103">Cell 414-1134</td>
    <td>&nbsp;</td>
  </tr>
</table>

<p style="margin-top: 0; margin-bottom: 0" align="center">
  <font color="#800000" size="1"><a href="#Emergency_Notification_Matrix_">Back to
    top</a></font></p>
<p style="margin-top: 0; margin-bottom: 0"><b><font color="#0000FF">
  <a name="Tropical_Weather_Watch_or_Warning_">Tropical Weather Watch or Warning</a></font></b></p>
<table border="1" width="100%">
  <tr>
    <td width="159">EMC / Asst. City Manager</td>
    <td width="134">Steve Floyd</td>
    <td>Home 875-7592</td>
    <td>Cell 240-6162</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="159">Public Notification</td>
    <td width="134">Randy Cadwell</td>
    <td width="129">Home 229-1831 </td>
    <td width="103">Cell 329-1374</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#0000FF">Police Chief</font></b></td>
    <td width="14%"><b><font color="#0000FF">Gerald Williamson</font></b></td>
    <td width="13%"><b><font color="#0000FF">Home&nbsp; 829-7271</font></b></td>
    <td width="13%"><b><font color="#0000FF">Cell&nbsp; 414-3421&nbsp;
    </font></b> </td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#0000FF">Asst. Police Chief</font></b></td>
    <td width="14%"><font color="#0000FF"><b>David Thomas</b></font></td>
    <td width="13%"><b><font color="#0000FF">Home&nbsp; 632-6102</font></b></td>
    <td width="13%"><b><font color="#0000FF">Cell&nbsp; 225-2339</font></b></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#0000FF">Lt. of Support</font></b></td>
    <td width="14%"><font color="#0000FF"><b>Scott Cagnon</b></font></td>
    <td width="13%"><b><font color="#0000FF">Home 366-0233</font></b></td>
    <td width="13%"><b><font color="#0000FF">Cell 366-0233</font></b></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#FF0000">Fire Chief</font></b></td>
    <td width="14%"><font color="#FF0000"><b>Ted Lovett</b></font></td>
    <td width="13%"><b><font color="#FF0000">Home </font></b>
      <font color="#FF0000"><b>824-2651</b></font></td>
    <td width="13%"><b><font color="#FF0000">Cell
    </font></b><font color="#FF0000"><b>414-4308</b></font></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="159"><b><font color="#FF0000">Asst. Fire Chief</font></b></td>
    <td width="134"><b><font color="#FF0000">Duane Freeman</font></b></td>
    <td width="129"><b><font color="#FF0000">Home 637-2031</font></b></td>
    <td width="13%"><b><font color="#FF0000">Cell 674-7654 </font></b> </td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="159"><b><font color="#FF0000">Battalion Chief</font></b></td>
    <td width="134">&nbsp;</td>
    <td>&nbsp;</td>
    <td><b><font color="#FF0000">Cell 465-4465&nbsp;&nbsp;
    </font></b> </td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="159">City Manager</td>
    <td width="134">Keith Wright</td>
    <td width="129">Home 897-3465</td>
    <td width="103">Cell 414-1134</td>
    <td>&nbsp;</td>
  </tr>
</table>

<p style="margin-top: 0; margin-bottom: 0" align="center">
  <font color="#800000" size="1"><a href="#Emergency_Notification_Matrix_">Back to
    top</a></font></p>
<p style="margin-top: 0; margin-bottom: 0"><b><font color="#00FF00">
  <a name="Tornado_Watch_-_Local_Area_">Tornado Watch - Local Area</a></font></b></p>
<table border="1" width="100%">
  <tr>
    <td width="159">EMC / Asst. City Manager</td>
    <td width="134">Steve Floyd</td>
    <td>Home 875-7592</td>
    <td>Cell 240-6162</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="159">Public Notification</td>
    <td width="134">Randy Cadwell</td>
    <td width="129">Home 229-1831 </td>
    <td width="103">Cell 329-1374</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#0000FF">Police Chief</font></b></td>
    <td width="14%"><b><font color="#0000FF">Gerald Williamson</font></b></td>
    <td width="13%"><b><font color="#0000FF">Home&nbsp; 829-7271</font></b></td>
    <td width="13%"><b><font color="#0000FF">Cell&nbsp; 414-3421&nbsp;
    </font></b> </td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#0000FF">Asst. Police Chief</font></b></td>
    <td width="14%"><font color="#0000FF"><b>David Thomas</b></font></td>
    <td width="13%"><b><font color="#0000FF">Home&nbsp; 632-6102</font></b></td>
    <td width="13%"><b><font color="#0000FF">Cell&nbsp; 225-2339</font></b></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#0000FF">Lt. of Support</font></b></td>
    <td width="14%"><font color="#0000FF"><b>Scott Cagnon</b></font></td>
    <td width="13%"><b><font color="#0000FF">Home 366-0233</font></b></td>
    <td width="13%"><b><font color="#0000FF">Cell 366-0233</font></b></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#FF0000">Fire Chief</font></b></td>
    <td width="14%"><font color="#FF0000"><b>Ted Lovett</b></font></td>
    <td width="13%"><b><font color="#FF0000">Home </font></b>
      <font color="#FF0000"><b>824-2651</b></font></td>
    <td width="13%"><b><font color="#FF0000">Cell
    </font></b><font color="#FF0000"><b>414-4308</b></font></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="159"><b><font color="#FF0000">Asst. Fire Chief</font></b></td>
    <td width="134"><b><font color="#FF0000">Duane Freeman</font></b></td>
    <td width="129"><b><font color="#FF0000">Home 637-2031</font></b></td>
    <td width="13%"><b><font color="#FF0000">Cell 674-7654 </font></b> </td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="159"><b><font color="#FF0000">Battalion Chief</font></b></td>
    <td width="134">&nbsp;</td>
    <td>&nbsp;</td>
    <td><b><font color="#FF0000">Cell 465-4465&nbsp;&nbsp;
    </font></b> </td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="159">City Manager</td>
    <td width="134">Keith Wright</td>
    <td width="129">Home 897-3465</td>
    <td width="103">Cell 414-1134</td>
    <td>&nbsp;</td>
  </tr>
</table>

<p style="margin-top: 0; margin-bottom: 0" align="center">
  <font color="#800000" size="1"><a href="#Emergency_Notification_Matrix_">Back to
    top</a></font></p>
<p style="margin-top: 0; margin-bottom: 0"><b><font color="#FF0000">
  <a name="Tornado_Warning_-_Local">Tornado Warning - Local</a></font></b></p>
<table border="1" width="100%">
  <tr>
    <td width="159">EMC / Asst. City Manager</td>
    <td width="134">Steve Floyd</td>
    <td>Home 875-7592</td>
    <td>Cell 240-6162</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="159">Public Notification</td>
    <td width="134">Randy Cadwell</td>
    <td width="129">Home 229-1831 </td>
    <td width="103">Cell 329-1374</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#0000FF">Police Chief</font></b></td>
    <td width="14%"><b><font color="#0000FF">Gerald Williamson</font></b></td>
    <td width="13%"><b><font color="#0000FF">Home&nbsp; 829-7271</font></b></td>
    <td width="13%"><b><font color="#0000FF">Cell&nbsp; 414-3421&nbsp;
    </font></b> </td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#0000FF">Asst. Police Chief</font></b></td>
    <td width="14%"><font color="#0000FF"><b>David Thomas</b></font></td>
    <td width="13%"><b><font color="#0000FF">Home&nbsp; 632-6102</font></b></td>
    <td width="13%"><b><font color="#0000FF">Cell&nbsp; 225-2339</font></b></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#0000FF">Lt. of Support</font></b></td>
    <td width="14%"><font color="#0000FF"><b>Scott Cagnon</b></font></td>
    <td width="13%"><b><font color="#0000FF">Home 366-0233</font></b></td>
    <td width="13%"><b><font color="#0000FF">Cell 366-0233</font></b></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#FF0000">Fire Chief</font></b></td>
    <td width="14%"><font color="#FF0000"><b>Ted Lovett</b></font></td>
    <td width="13%"><b><font color="#FF0000">Home </font></b>
      <font color="#FF0000"><b>824-2651</b></font></td>
    <td width="13%"><b><font color="#FF0000">Cell
    </font></b><font color="#FF0000"><b>414-4308</b></font></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="159"><b><font color="#FF0000">Asst. Fire Chief</font></b></td>
    <td width="134"><b><font color="#FF0000">Duane Freeman</font></b></td>
    <td width="129"><b><font color="#FF0000">Home 637-2031</font></b></td>
    <td width="13%"><b><font color="#FF0000">Cell 674-7654 </font></b> </td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="159"><b><font color="#FF0000">Battalion Chief</font></b></td>
    <td width="134">&nbsp;</td>
    <td>&nbsp;</td>
    <td><b><font color="#FF0000">Cell 465-4465&nbsp;&nbsp;
    </font></b> </td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="159">City Manager</td>
    <td width="134">Keith Wright</td>
    <td width="129">Home 897-3465</td>
    <td width="103">Cell 414-1134</td>
    <td>&nbsp;</td>
  </tr>
</table>

<p style="margin-top: 0; margin-bottom: 0" align="center">
  <font color="#800000" size="1"><a href="#Emergency_Notification_Matrix_">Back to
    top</a></font></p>
<p style="margin-top: 0; margin-bottom: 0"><b><font color="#FF00FF">
  <a name="Winter_Storm_Watch_-_Local">Winter Storm Watch - Local</a></font></b></p>
<table border="1" width="100%">
  <tr>
    <td width="159">EMC / Asst. City Manager</td>
    <td width="134">Steve Floyd</td>
    <td>Home 875-7592</td>
    <td>Cell 240-6162</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="159">Public Notification</td>
    <td width="134">Randy Cadwell</td>
    <td width="129">Home 229-1831 </td>
    <td width="103">Cell 329-1374</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#0000FF">Police Chief</font></b></td>
    <td width="14%"><b><font color="#0000FF">Gerald Williamson</font></b></td>
    <td width="13%"><b><font color="#0000FF">Home&nbsp; 829-7271</font></b></td>
    <td width="13%"><b><font color="#0000FF">Cell&nbsp; 414-3421&nbsp;
    </font></b> </td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#0000FF">Asst. Police Chief</font></b></td>
    <td width="14%"><font color="#0000FF"><b>David Thomas</b></font></td>
    <td width="13%"><b><font color="#0000FF">Home&nbsp; 632-6102</font></b></td>
    <td width="13%"><b><font color="#0000FF">Cell&nbsp; 225-2339</font></b></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#0000FF">Lt. of Support</font></b></td>
    <td width="14%"><font color="#0000FF"><b>Scott Cagnon</b></font></td>
    <td width="13%"><b><font color="#0000FF">Home 366-0233</font></b></td>
    <td width="13%"><b><font color="#0000FF">Cell 366-0233</font></b></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#FF0000">Fire Chief</font></b></td>
    <td width="14%"><font color="#FF0000"><b>Ted Lovett</b></font></td>
    <td width="13%"><b><font color="#FF0000">Home </font></b>
      <font color="#FF0000"><b>824-2651</b></font></td>
    <td width="13%"><b><font color="#FF0000">Cell
    </font></b><font color="#FF0000"><b>414-4308</b></font></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="159"><b><font color="#FF0000">Asst. Fire Chief</font></b></td>
    <td width="134"><b><font color="#FF0000">Duane Freeman</font></b></td>
    <td width="129"><b><font color="#FF0000">Home 637-2031</font></b></td>
    <td width="13%"><b><font color="#FF0000">Cell 674-7654 </font></b> </td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="159"><b><font color="#FF0000">Battalion Chief</font></b></td>
    <td width="134">&nbsp;</td>
    <td>&nbsp;</td>
    <td><b><font color="#FF0000">Cell 465-4465&nbsp;&nbsp;
    </font></b> </td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="159">City Manager</td>
    <td width="134">Keith Wright</td>
    <td width="129">Home 897-3465</td>
    <td width="103">Cell 414-1134</td>
    <td>&nbsp;</td>
  </tr>
</table>

<p style="margin-top: 0; margin-bottom: 0" align="center">
  <font color="#800000" size="1"><a href="#Emergency_Notification_Matrix_">Back to
    top</a></font></p>
<p style="margin-top: 0; margin-bottom: 0"><b><font color="#800000">
  <a name="Winter_Storm_Warning">Winter Storm Warning</a></font></b></p>
<table border="1" width="100%">
  <tr>
    <td width="159">EMC / Asst. City Manager</td>
    <td width="134">Steve Floyd</td>
    <td>Home 875-7592</td>
    <td>Cell 240-6162</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="159">Public Notification</td>
    <td width="134">Randy Cadwell</td>
    <td width="129">Home 229-1831 </td>
    <td width="103">Cell 329-1374</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#0000FF">Police Chief</font></b></td>
    <td width="14%"><b><font color="#0000FF">Gerald Williamson</font></b></td>
    <td width="13%"><b><font color="#0000FF">Home&nbsp; 829-7271</font></b></td>
    <td width="13%"><b><font color="#0000FF">Cell&nbsp; 414-3421&nbsp;
    </font></b> </td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#0000FF">Asst. Police Chief</font></b></td>
    <td width="14%"><font color="#0000FF"><b>David Thomas</b></font></td>
    <td width="13%"><b><font color="#0000FF">Home&nbsp; 632-6102</font></b></td>
    <td width="13%"><b><font color="#0000FF">Cell&nbsp; 225-2339</font></b></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#0000FF">Lt. of Support</font></b></td>
    <td width="14%"><font color="#0000FF"><b>Scott Cagnon</b></font></td>
    <td width="13%"><b><font color="#0000FF">Home 366-0233</font></b></td>
    <td width="13%"><b><font color="#0000FF">Cell 366-0233</font></b></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#FF0000">Fire Chief</font></b></td>
    <td width="14%"><font color="#FF0000"><b>Ted Lovett</b></font></td>
    <td width="13%"><b><font color="#FF0000">Home </font></b>
      <font color="#FF0000"><b>824-2651</b></font></td>
    <td width="13%"><b><font color="#FF0000">Cell
    </font></b><font color="#FF0000"><b>414-4308</b></font></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="159"><b><font color="#FF0000">Asst. Fire Chief</font></b></td>
    <td width="134"><b><font color="#FF0000">Duane Freeman</font></b></td>
    <td width="129"><b><font color="#FF0000">Home 637-2031</font></b></td>
    <td width="13%"><b><font color="#FF0000">Cell 674-7654 </font></b> </td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="159"><b><font color="#FF0000">Battalion Chief</font></b></td>
    <td width="134">&nbsp;</td>
    <td>&nbsp;</td>
    <td><b><font color="#FF0000">Cell 465-4465&nbsp;&nbsp;
    </font></b> </td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="159">City Manager</td>
    <td width="134">Keith Wright</td>
    <td width="129">Home 897-3465</td>
    <td width="103">Cell 414-1134</td>
    <td>&nbsp;</td>
  </tr>
</table>

<p style="margin-top: 0; margin-bottom: 0" align="center">
  <font color="#800000" size="1"><a href="#Emergency_Notification_Matrix_">Back to
    top</a></font></p>
<p style="margin-top: 0; margin-bottom: 0">&nbsp;</p>
<p style="margin-top: 0; margin-bottom: 0"><b><font color="#FF00FF">
  <a name="Aircraft_Crash_in_City/County">Aircraft Crash in City/County</a></font></b></p>
<table border="1" width="100%" id="table15">
  <tr>
    <td width="159">EMC / Asst. City Manager</td>
    <td width="134">Steve Floyd</td>
    <td>Home 875-7592</td>
    <td>Cell 240-6162</td>
    <td rowspan="8">&nbsp;</td>
  </tr>
  <tr>
    <td width="159">Public Notification</td>
    <td width="134">Randy Cadwell</td>
    <td width="129">Home 229-1831 </td>
    <td width="103">Cell 329-1374</td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#0000FF">Police Chief</font></b></td>
    <td width="14%"><b><font color="#0000FF">Gerald Williamson</font></b></td>
    <td width="13%"><b><font color="#0000FF">Home&nbsp; 829-7271</font></b></td>
    <td width="13%"><b><font color="#0000FF">Cell&nbsp; 414-3421&nbsp;
    </font></b> </td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#0000FF">Asst. Police Chief</font></b></td>
    <td width="14%"><font color="#0000FF"><b>David Thomas</b></font></td>
    <td width="13%"><b><font color="#0000FF">Home&nbsp; 632-6102</font></b></td>
    <td width="13%"><b><font color="#0000FF">Cell&nbsp; 225-2339</font></b></td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#0000FF">Lt. of Support</font></b></td>
    <td width="14%"><font color="#0000FF"><b>Scott Cagnon</b></font></td>
    <td width="13%"><b><font color="#0000FF">Home 366-0233</font></b></td>
    <td width="13%"><b><font color="#0000FF">Cell 366-0233</font></b></td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#FF0000">Fire Chief</font></b></td>
    <td width="14%"><font color="#FF0000"><b>Ted Lovett</b></font></td>
    <td width="13%"><b><font color="#FF0000">Home </font></b>
      <font color="#FF0000"><b>824-2651</b></font></td>
    <td width="13%"><b><font color="#FF0000">Cell
    </font></b><font color="#FF0000"><b>414-4308</b></font></td>
  </tr>
  <tr>
    <td width="159"><b><font color="#FF0000">Asst. Fire Chief</font></b></td>
    <td width="134"><b><font color="#FF0000">Duane Freeman</font></b></td>
    <td width="129"><b><font color="#FF0000">Home 637-2031</font></b></td>
    <td width="103"><b><font color="#FF0000">Cell 674-7654 </font></b> </td>
  </tr>
  <tr>
    <td width="159">City Manager</td>
    <td width="134">Keith Wright</td>
    <td width="129">Home 897-3465</td>
    <td width="103">Cell 414-1134</td>
  </tr>
</table>

<table border="1" width="100%" id="table16">
  <tr>
    <td width="148"><font color="#FF0000">AMERICARE EMS</font></td>
    <td width="132">&nbsp;</td>
    <td width="118"><font color="#FF0000">699-4911</font></td>
    <td width="122"><font color="#FF0000">800 997 3060</font></td>
    <td><font color="#FF0000">PLACE ON STANDBY </font></td>
  </tr>
</table>

<p style="margin-top: 0; margin-bottom: 0" align="center">
  <font color="#800000" size="1"><a href="#Emergency_Notification_Matrix_">Back to
    top</a></font></p>
<p style="margin-top: 0; margin-bottom: 0" align="center">
  &nbsp;</p>
<p style="margin-top: 0; margin-bottom: 0"><b><a name="Any Type Structure Fire">
  Any Type Structure Fire</a></b></p>
<table border="1" width="100%" id="table13">
  <tr>
    <td width="159">EMC / Asst. City Manager</td>
    <td width="134">Steve Floyd</td>
    <td>Home 875-7592</td>
    <td>Cell 240-6162</td>
    <td rowspan="10">&nbsp;</td>
  </tr>
  <tr>
    <td width="159">Public Notification</td>
    <td width="134">Randy Cadwell</td>
    <td width="129">Home 229-1831 </td>
    <td width="103">Cell 329-1374</td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#0000FF">Police Chief</font></b></td>
    <td width="14%"><b><font color="#0000FF">Gerald Williamson</font></b></td>
    <td width="13%"><b><font color="#0000FF">Home&nbsp; 829-7271</font></b></td>
    <td width="13%"><b><font color="#0000FF">Cell&nbsp; 414-3421&nbsp;
    </font></b> </td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#0000FF">Asst. Police Chief</font></b></td>
    <td width="14%"><font color="#0000FF"><b>David Thomas</b></font></td>
    <td width="13%"><b><font color="#0000FF">Home&nbsp; 632-6102</font></b></td>
    <td width="13%"><b><font color="#0000FF">Cell&nbsp; 225-2339</font></b></td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#0000FF">Lt. of Support</font></b></td>
    <td width="14%"><font color="#0000FF"><b>Scott Cagnon</b></font></td>
    <td width="13%"><b><font color="#0000FF">Home 366-0233</font></b></td>
    <td width="13%"><b><font color="#0000FF">Cell 366-0233</font></b></td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#FF0000">Fire Chief</font></b></td>
    <td width="14%"><font color="#FF0000"><b>Ted Lovett</b></font></td>
    <td width="13%"><b><font color="#FF0000">Home </font></b>
      <font color="#FF0000"><b>824-2651</b></font></td>
    <td width="13%"><b><font color="#FF0000">Cell
    </font></b><font color="#FF0000"><b>414-4308</b></font></td>
  </tr>
  <tr>
    <td width="159"><b><font color="#FF0000">Asst. Fire Chief</font></b></td>
    <td width="134"><b><font color="#FF0000">Duane Freeman</font></b></td>
    <td width="129"><b><font color="#FF0000">Home 637-2031</font></b></td>
    <td width="103"><b><font color="#FF0000">Cell 674-7654 </font></b> </td>
  </tr>
  <tr>
    <td width="159"><b><font color="#FF0000">Fire Marshall</font></b></td>
    <td width="134"><b><font color="#FF0000">Steve McCool</font></b></td>
    <td width="129"><b><font color="#FF0000">Home 635-6673</font></b></td>
    <td width="103"><b><font color="#FF0000">Cell 897-3186</font></b></td>
  </tr>
  <tr>
    <td width="159"><b><font color="#FF0000">Asst. Fire Marshall</font></b></td>
    <td width="134"><font color="#FF0000"><b>Bill Gates</b></font></td>
    <td width="129"><b><font color="#FF0000">Home </font></b>
      <font color="#FF0000"><b>876-2488</b></font></td>
    <td width="103"><b><font color="#FF0000">Cell </font></b>
      <font color="#FF0000"><b>676-1116</b></font></td>
  </tr>
  <tr>
    <td width="159">City Manager</td>
    <td width="134">Keith Wright</td>
    <td width="129">Home 897-3465</td>
    <td width="103">Cell 414-1134</td>
  </tr>
</table>

<table border="1" width="100%" id="table14">
  <tr>
    <td width="148"><font color="#FF0000">AMERICARE EMS</font></td>
    <td width="130">&nbsp;</td>
    <td width="121"><font color="#FF0000">699-4911</font></td>
    <td width="120"><font color="#FF0000">800 997 3060</font></td>
    <td><font color="#FF0000">PLACE ON STANDBY FOR ALL STRUCTURE FIRES</font></td>
  </tr>
</table>

<p style="margin-top: 0; margin-bottom: 0" align="center">
  <font color="#800000" size="1"><a href="#Emergency_Notification_Matrix_">Back to
    top</a></font></p>
<p style="margin-top: 0; margin-bottom: 0"><b><font color="#800000">
  <a name="Fire_2_Alarm_or_Less">Fire 2 Alarm or Higher</a></font></b></p>
<table border="1" width="100%" id="table11">
  <tr>
    <td width="159">EMC / Asst. City Manager</td>
    <td width="134">Steve Floyd</td>
    <td>Home 875-7592</td>
    <td>Cell 240-6162</td>
    <td rowspan="8">&nbsp;</td>
  </tr>
  <tr>
    <td width="159">Public Notification</td>
    <td width="134">Randy Cadwell</td>
    <td width="129">Home 229-1831 </td>
    <td width="103">Cell 329-1374</td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#0000FF">Police Chief</font></b></td>
    <td width="14%"><b><font color="#0000FF">Gerald Williamson</font></b></td>
    <td width="13%"><b><font color="#0000FF">Home&nbsp; 829-7271</font></b></td>
    <td width="13%"><b><font color="#0000FF">Cell&nbsp; 414-3421&nbsp;
    </font></b> </td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#0000FF">Asst. Police Chief</font></b></td>
    <td width="14%"><font color="#0000FF"><b>David Thomas</b></font></td>
    <td width="13%"><b><font color="#0000FF">Home&nbsp; 632-6102</font></b></td>
    <td width="13%"><b><font color="#0000FF">Cell&nbsp; 225-2339</font></b></td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#0000FF">Lt. of Support</font></b></td>
    <td width="14%"><font color="#0000FF"><b>Scott Cagnon</b></font></td>
    <td width="13%"><b><font color="#0000FF">Home 366-0233</font></b></td>
    <td width="13%"><b><font color="#0000FF">Cell 366-0233</font></b></td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#FF0000">Fire Chief</font></b></td>
    <td width="14%"><font color="#FF0000"><b>Ted Lovett</b></font></td>
    <td width="13%"><b><font color="#FF0000">Home </font></b>
      <font color="#FF0000"><b>824-2651</b></font></td>
    <td width="13%"><b><font color="#FF0000">Cell
    </font></b><font color="#FF0000"><b>414-4308</b></font></td>
  </tr>
  <tr>
    <td width="159"><b><font color="#FF0000">Asst. Fire Chief</font></b></td>
    <td width="134"><b><font color="#FF0000">Duane Freeman</font></b></td>
    <td width="129"><b><font color="#FF0000">Home 637-2031</font></b></td>
    <td width="103"><b><font color="#FF0000">Cell 674-7654 </font></b> </td>
  </tr>
  <tr>
    <td width="159">City Manager</td>
    <td width="134">Keith Wright</td>
    <td width="129">Home 897-3465</td>
    <td width="103">Cell 414-1134</td>
  </tr>
</table>

<table border="1" width="100%" id="table12">
  <tr>
    <td width="150"><font color="#FF0000">AMERICARE EMS</font></td>
    <td width="128">&nbsp;</td>
    <td width="118"><font color="#FF0000">699-4911</font></td>
    <td width="122"><font color="#FF0000">800 997 3060</font></td>
    <td><font color="#FF0000">PLACE ON STANDBY FOR ALL STRUCTURE FIRES</font></td>
  </tr>
</table>

<p style="margin-top: 0; margin-bottom: 0" align="center">
  <font color="#800000" size="1"><a href="#Emergency_Notification_Matrix_">Back to
    top</a></font></p>
<p style="margin-top: 0; margin-bottom: 0"><b><font color="#0000FF">
  <a name="Fire_3_Alarm_in_City_or_County_">Fire 3 Alarm in City or County</a></font></b></p>
<table border="1" width="100%" id="table9">
  <tr>
    <td width="159">EMC / Asst. City Manager</td>
    <td width="134">Steve Floyd</td>
    <td>Home 875-7592</td>
    <td>Cell 240-6162</td>
    <td rowspan="8">&nbsp;</td>
  </tr>
  <tr>
    <td width="159">Public Notification</td>
    <td width="134">Randy Cadwell</td>
    <td width="129">Home 229-1831 </td>
    <td width="103">Cell 329-1374</td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#0000FF">Police Chief</font></b></td>
    <td width="14%"><b><font color="#0000FF">Gerald Williamson</font></b></td>
    <td width="13%"><b><font color="#0000FF">Home&nbsp; 829-7271</font></b></td>
    <td width="13%"><b><font color="#0000FF">Cell&nbsp; 414-3421&nbsp;
    </font></b> </td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#0000FF">Asst. Police Chief</font></b></td>
    <td width="14%"><font color="#0000FF"><b>David Thomas</b></font></td>
    <td width="13%"><b><font color="#0000FF">Home&nbsp; 632-6102</font></b></td>
    <td width="13%"><b><font color="#0000FF">Cell&nbsp; 225-2339</font></b></td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#0000FF">Lt. of Support</font></b></td>
    <td width="14%"><font color="#0000FF"><b>Scott Cagnon</b></font></td>
    <td width="13%"><b><font color="#0000FF">Home 366-0233</font></b></td>
    <td width="13%"><b><font color="#0000FF">Cell 366-0233</font></b></td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#FF0000">Fire Chief</font></b></td>
    <td width="14%"><font color="#FF0000"><b>Ted Lovett</b></font></td>
    <td width="13%"><b><font color="#FF0000">Home </font></b>
      <font color="#FF0000"><b>824-2651</b></font></td>
    <td width="13%"><b><font color="#FF0000">Cell
    </font></b><font color="#FF0000"><b>414-4308</b></font></td>
  </tr>
  <tr>
    <td width="159"><b><font color="#FF0000">Asst. Fire Chief</font></b></td>
    <td width="134"><b><font color="#FF0000">Duane Freeman</font></b></td>
    <td width="129"><b><font color="#FF0000">Home 637-2031</font></b></td>
    <td width="103"><b><font color="#FF0000">Cell 674-7654 </font></b> </td>
  </tr>
  <tr>
    <td width="159">City Manager</td>
    <td width="134">Keith Wright</td>
    <td width="129">Home 897-3465</td>
    <td width="103">Cell 414-1134</td>
  </tr>
</table>

<table border="1" width="100%" id="table10">
  <tr>
    <td width="147"><font color="#FF0000">AMERICARE EMS</font></td>
    <td width="132">&nbsp;</td>
    <td width="118"><font color="#FF0000">699-4911</font></td>
    <td width="122"><font color="#FF0000">800 997 3060</font></td>
    <td><font color="#FF0000">PLACE ON STANDBY FOR ALL STRUCTURE FIRES</font></td>
  </tr>
</table>

<p style="margin-top: 0; margin-bottom: 0" align="center">
  <font color="#800000" size="1"><a href="#Emergency_Notification_Matrix_">Back to
    top</a></font></p>
<p style="margin-top: 0; margin-bottom: 0"><b>
  <font face="Arial" size="2" color="#00FF00">
    <a name="Mass_Casualty_Incident__10+_">Mass Casualty Incident&nbsp; 10+ </a> </font>
</b></p>
<table border="1" width="100%" id="table7">
  <tr>
    <td width="159">EMC / Asst. City Manager</td>
    <td width="134">Steve Floyd</td>
    <td>Home 875-7592</td>
    <td>Cell 240-6162</td>
    <td rowspan="8">&nbsp;</td>
  </tr>
  <tr>
    <td width="159">Public Notification</td>
    <td width="134">Randy Cadwell</td>
    <td width="129">Home 229-1831 </td>
    <td width="103">Cell 329-1374</td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#0000FF">Police Chief</font></b></td>
    <td width="14%"><b><font color="#0000FF">Gerald Williamson</font></b></td>
    <td width="13%"><b><font color="#0000FF">Home&nbsp; 829-7271</font></b></td>
    <td width="13%"><b><font color="#0000FF">Cell&nbsp; 414-3421&nbsp;
    </font></b> </td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#0000FF">Asst. Police Chief</font></b></td>
    <td width="14%"><font color="#0000FF"><b>David Thomas</b></font></td>
    <td width="13%"><b><font color="#0000FF">Home&nbsp; 632-6102</font></b></td>
    <td width="13%"><b><font color="#0000FF">Cell&nbsp; 225-2339</font></b></td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#0000FF">Lt. of Support</font></b></td>
    <td width="14%"><font color="#0000FF"><b>Scott Cagnon</b></font></td>
    <td width="13%"><b><font color="#0000FF">Home 366-0233</font></b></td>
    <td width="13%"><b><font color="#0000FF">Cell 366-0233</font></b></td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#FF0000">Fire Chief</font></b></td>
    <td width="14%"><font color="#FF0000"><b>Ted Lovett</b></font></td>
    <td width="13%"><b><font color="#FF0000">Home </font></b>
      <font color="#FF0000"><b>824-2651</b></font></td>
    <td width="13%"><b><font color="#FF0000">Cell
    </font></b><font color="#FF0000"><b>414-4308</b></font></td>
  </tr>
  <tr>
    <td width="159"><b><font color="#FF0000">Asst. Fire Chief</font></b></td>
    <td width="134"><b><font color="#FF0000">Duane Freeman</font></b></td>
    <td width="129"><b><font color="#FF0000">Home 637-2031</font></b></td>
    <td width="103"><b><font color="#FF0000">Cell 674-7654 </font></b> </td>
  </tr>
  <tr>
    <td width="159">City Manager</td>
    <td width="134">Keith Wright</td>
    <td width="129">Home 897-3465</td>
    <td width="103">Cell 414-1134</td>
  </tr>
</table>

<table border="1" width="100%" id="table8">
  <tr>
    <td width="150"><font color="#FF0000">AMERICARE EMS</font></td>
    <td width="130">&nbsp;</td>
    <td width="119"><font color="#FF0000">699-4911</font></td>
    <td width="120"><font color="#FF0000">800 997 3060</font></td>
    <td><font color="#FF0000">PLACE ON STANDBY </font></td>
  </tr>
</table>

<p style="margin-top: 0; margin-bottom: 0" align="center">
  <font color="#800000" size="1"><a href="#Emergency_Notification_Matrix_">Back to
    top</a></font></p>
<p style="margin-top: 0; margin-bottom: 0"><b><font color="#FF0000">
  <a name="Hazmat_Spill_with_Casualties/Evacuations">Hazmat Spill with
    Casualties/Evacuations</a></font></b></p>
<table border="1" width="100%" id="table5">
  <tr>
    <td width="159">EMC / Asst. City Manager</td>
    <td width="134">Steve Floyd</td>
    <td>Home 875-7592</td>
    <td>Cell 240-6162</td>
    <td rowspan="8">&nbsp;</td>
  </tr>
  <tr>
    <td width="159">Public Notification</td>
    <td width="134">Randy Cadwell</td>
    <td width="129">Home 229-1831 </td>
    <td width="103">Cell 329-1374</td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#0000FF">Police Chief</font></b></td>
    <td width="14%"><b><font color="#0000FF">Gerald Williamson</font></b></td>
    <td width="13%"><b><font color="#0000FF">Home&nbsp; 829-7271</font></b></td>
    <td width="13%"><b><font color="#0000FF">Cell&nbsp; 414-3421&nbsp;
    </font></b> </td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#0000FF">Asst. Police Chief</font></b></td>
    <td width="14%"><font color="#0000FF"><b>David Thomas</b></font></td>
    <td width="13%"><b><font color="#0000FF">Home&nbsp; 632-6102</font></b></td>
    <td width="13%"><b><font color="#0000FF">Cell&nbsp; 225-2339</font></b></td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#0000FF">Lt. of Support</font></b></td>
    <td width="14%"><font color="#0000FF"><b>Scott Cagnon</b></font></td>
    <td width="13%"><b><font color="#0000FF">Home 366-0233</font></b></td>
    <td width="13%"><b><font color="#0000FF">Cell 366-0233</font></b></td>
  </tr>
  <tr>
    <td width="16%"><font color="#FF0000"><b>Fire Chief</b></font></td>
    <td width="14%"><font color="#FF0000"><b>Ted Lovett</b></font></td>
    <td width="13%"><b><font color="#FF0000">Home </font></b>
      <font color="#FF0000"><b>824-2651</b></font></td>
    <td width="13%"><b><font color="#FF0000">Cell
    </font></b><font color="#FF0000"><b>414-4308</b></font></td>
  </tr>
  <tr>
    <td width="159"><font color="#FF0000"><b>Asst. Fire Chief</b></font></td>
    <td width="134"><font color="#FF0000"><b>Duane Freeman</b></font></td>
    <td width="129"><font color="#FF0000"><b>Home 637-2031</b></font></td>
    <td width="103"><font color="#FF0000"><b>Cell 674-7654 </b></font> </td>
  </tr>
  <tr>
    <td width="159">City Manager</td>
    <td width="134">Keith Wright</td>
    <td width="129">Home 897-3465</td>
    <td width="103">Cell 414-1134</td>
  </tr>
</table>

<table border="1" width="100%" id="table6">
  <tr>
    <td width="148"><font color="#FF0000">AMERICARE EMS</font></td>
    <td width="130">&nbsp;</td>
    <td width="121"><font color="#FF0000">699-4911</font></td>
    <td width="118"><font color="#FF0000">800 997 3060</font></td>
    <td><font color="#FF0000">PLACE ON STANDBY </font></td>
  </tr>
</table>

<p style="margin-top: 0; margin-bottom: 0" align="center">
  <font color="#800000" size="1"><a href="#Emergency_Notification_Matrix_">Back to
    top</a></font></p>
<p style="margin-top: 0; margin-bottom: 0"><font color="#FF00FF"><b>
  <a name="Hazmat_Spill_with_Environmental_Impact">Hazmat Spill with Environmental
    Impact</a></b></font></p>
<table border="1" width="100%" id="table3">
  <tr>
    <td width="159">EMC / Asst. City Manager</td>
    <td width="134">Steve Floyd</td>
    <td>Home 875-7592</td>
    <td>Cell 240-6162</td>
    <td rowspan="8">&nbsp;</td>
  </tr>
  <tr>
    <td width="159">Public Notification</td>
    <td width="134">Randy Cadwell</td>
    <td width="129">Home 229-1831 </td>
    <td width="103">Cell 329-1374</td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#0000FF">Police Chief</font></b></td>
    <td width="14%"><b><font color="#0000FF">Gerald Williamson</font></b></td>
    <td width="13%"><b><font color="#0000FF">Home&nbsp; 829-7271</font></b></td>
    <td width="13%"><b><font color="#0000FF">Cell&nbsp; 414-3421&nbsp;
    </font></b> </td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#0000FF">Asst. Police Chief</font></b></td>
    <td width="14%"><font color="#0000FF"><b>David Thomas</b></font></td>
    <td width="13%"><b><font color="#0000FF">Home&nbsp; 632-6102</font></b></td>
    <td width="13%"><b><font color="#0000FF">Cell&nbsp; 225-2339</font></b></td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#0000FF">Lt. of Support</font></b></td>
    <td width="14%"><font color="#0000FF"><b>Scott Cagnon</b></font></td>
    <td width="13%"><b><font color="#0000FF">Home 366-0233</font></b></td>
    <td width="13%"><b><font color="#0000FF">Cell 366-0233</font></b></td>
  </tr>
  <tr>
    <td width="16%"><font color="#FF0000"><b>Fire Chief</b></font></td>
    <td width="14%"><font color="#FF0000"><b>Ted Lovett</b></font></td>
    <td width="13%"><b><font color="#FF0000">Home </font></b>
      <font color="#FF0000"><b>824-2651</b></font></td>
    <td width="13%"><b><font color="#FF0000">Cell
    </font></b><font color="#FF0000"><b>414-4308</b></font></td>
  </tr>
  <tr>
    <td width="159"><font color="#FF0000"><b>Asst. Fire Chief</b></font></td>
    <td width="134"><font color="#FF0000"><b>Duane Freeman</b></font></td>
    <td width="129"><font color="#FF0000"><b>Home 637-2031</b></font></td>
    <td width="103"><font color="#FF0000"><b>Cell 674-7654 </b></font> </td>
  </tr>
  <tr>
    <td width="159">City Manager</td>
    <td width="134">Keith Wright</td>
    <td width="129">Home 897-3465</td>
    <td width="103">Cell 414-1134</td>
  </tr>
</table>

<table border="1" width="100%" id="table4">
  <tr>
    <td width="148"><font color="#FF0000">AMERICARE EMS</font></td>
    <td width="132">&nbsp;</td>
    <td width="119"><font color="#FF0000">699-4911</font></td>
    <td width="118"><font color="#FF0000">800 997 3060</font></td>
    <td><font color="#FF0000">PLACE ON STANDBY </font></td>
  </tr>
</table>

<p style="margin-top: 0; margin-bottom: 0" align="center">
  <font color="#800000" size="1"><a href="#Emergency_Notification_Matrix_">Back to
    top</a></font></p>
<p style="margin-top: 0; margin-bottom: 0"><font color="#800000"><b>
  <a name="Possible_Contaminated_Drinking_Water">Possible Contaminated Drinking
    Water</a></b></font></p>
<table border="1" width="100%" id="table1">
  <tr>
    <td width="159">EMC / Asst. City Manager</td>
    <td width="134">Steve Floyd</td>
    <td>Home 875-7592</td>
    <td>Cell 240-6162</td>
    <td rowspan="8">&nbsp;</td>
  </tr>
  <tr>
    <td width="159">Public Notification</td>
    <td width="134">Randy Cadwell</td>
    <td width="129">Home 229-1831 </td>
    <td width="103">Cell 329-1374</td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#0000FF">Police Chief</font></b></td>
    <td width="14%"><b><font color="#0000FF">Gerald Williamson</font></b></td>
    <td width="13%"><b><font color="#0000FF">Home&nbsp; 829-7271</font></b></td>
    <td width="13%"><b><font color="#0000FF">Cell&nbsp; 414-3421&nbsp;
    </font></b> </td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#0000FF">Asst. Police Chief</font></b></td>
    <td width="14%"><font color="#0000FF"><b>David Thomas</b></font></td>
    <td width="13%"><b><font color="#0000FF">Home&nbsp; 632-6102</font></b></td>
    <td width="13%"><b><font color="#0000FF">Cell&nbsp; 225-2339</font></b></td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#0000FF">Lt. of Support</font></b></td>
    <td width="14%"><font color="#0000FF"><b>Scott Cagnon</b></font></td>
    <td width="13%"><b><font color="#0000FF">Home 366-0233</font></b></td>
    <td width="13%"><b><font color="#0000FF">Cell 366-0233</font></b></td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#FF0000">Fire Chief</font></b></td>
    <td width="14%"><font color="#FF0000"><b>Ted Lovett</b></font></td>
    <td width="13%"><b><font color="#FF0000">Home </font></b>
      <font color="#FF0000"><b>824-2651</b></font></td>
    <td width="13%"><b><font color="#FF0000">Cell
    </font></b><font color="#FF0000"><b>414-4308</b></font></td>
  </tr>
  <tr>
    <td width="159"><b><font color="#FF0000">Asst. Fire Chief</font></b></td>
    <td width="134"><b><font color="#FF0000">Duane Freeman</font></b></td>
    <td width="129"><b><font color="#FF0000">Home 637-2031</font></b></td>
    <td width="103"><b><font color="#FF0000">Cell 674-7654 </font></b> </td>
  </tr>
  <tr>
    <td width="159">City Manager</td>
    <td width="134">Keith Wright</td>
    <td width="129">Home 897-3465</td>
    <td width="103">Cell 414-1134</td>
  </tr>
</table>

<table border="1" width="100%" id="table2">
  <tr>
    <td width="150"><font color="#FF0000">AMERICARE EMS</font></td>
    <td width="127">&nbsp;</td>
    <td width="123"><font color="#FF0000">699-4911</font></td>
    <td width="120"><font color="#FF0000">800 997 3060</font></td>
    <td><font color="#FF0000">PLACE ON STANDBY </font></td>
  </tr>
</table>

<p style="margin-top: 0; margin-bottom: 0" align="center">
  <font color="#800000" size="1"><a href="#Emergency_Notification_Matrix_">Back to
    top</a></font></p>
<p style="margin-top: 0; margin-bottom: 0"><b><font color="#0000FF">
  <a name="Major_Explosion">Major Explosion</a></font></b></p>
<table border="1" width="100%">
  <tr>
    <td width="159">EMC / Asst. City Manager</td>
    <td width="134">Steve Floyd</td>
    <td>Home 875-7592</td>
    <td>Cell 240-6162</td>
    <td rowspan="8">&nbsp;</td>
  </tr>
  <tr>
    <td width="159">Public Notification</td>
    <td width="134">Randy Cadwell</td>
    <td width="129">Home 229-1831 </td>
    <td width="103">Cell 329-1374</td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#0000FF">Police Chief</font></b></td>
    <td width="14%"><b><font color="#0000FF">Gerald Williamson</font></b></td>
    <td width="13%"><b><font color="#0000FF">Home&nbsp; 829-7271</font></b></td>
    <td width="13%"><b><font color="#0000FF">Cell&nbsp; 414-3421&nbsp;
    </font></b> </td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#0000FF">Asst. Police Chief</font></b></td>
    <td width="14%"><font color="#0000FF"><b>David Thomas</b></font></td>
    <td width="13%"><b><font color="#0000FF">Home&nbsp; 632-6102</font></b></td>
    <td width="13%"><b><font color="#0000FF">Cell&nbsp; 225-2339</font></b></td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#0000FF">Lt. of Support</font></b></td>
    <td width="14%"><font color="#0000FF"><b>Scott Cagnon</b></font></td>
    <td width="13%"><b><font color="#0000FF">Home 366-0233</font></b></td>
    <td width="13%"><b><font color="#0000FF">Cell 366-0233</font></b></td>
  </tr>
  <tr>
    <td width="16%"><font color="#FF0000"><b>Fire Chief</b></font></td>
    <td width="14%"><font color="#FF0000"><b>Ted Lovett</b></font></td>
    <td width="13%"><b><font color="#FF0000">Home </font></b>
      <font color="#FF0000"><b>824-2651</b></font></td>
    <td width="13%"><b><font color="#FF0000">Cell
    </font></b><font color="#FF0000"><b>414-4308</b></font></td>
  </tr>
  <tr>
    <td width="159"><font color="#FF0000"><b>Asst. Fire Chief</b></font></td>
    <td width="134"><font color="#FF0000"><b>Duane Freeman</b></font></td>
    <td width="129"><font color="#FF0000"><b>Home 637-2031</b></font></td>
    <td width="103"><font color="#FF0000"><b>Cell 674-7654 </b></font> </td>
  </tr>
  <tr>
    <td width="159">City Manager</td>
    <td width="134">Keith Wright</td>
    <td width="129">Home 897-3465</td>
    <td width="103">Cell 414-1134</td>
  </tr>
</table>

<table border="1" width="100%">
  <tr>
    <td width="150"><font color="#FF0000">AMERICARE EMS</font></td>
    <td width="127">&nbsp;</td>
    <td width="121"><font color="#FF0000">699-4911</font></td>
    <td width="120"><font color="#FF0000">800 997 3060</font></td>
    <td><font color="#FF0000">PLACE ON STANDBY </font></td>
  </tr>
</table>

<p style="margin-top: 0; margin-bottom: 0" align="center">
  <font color="#800000" size="1"><a href="#Emergency_Notification_Matrix_">Back to
    top</a></font></p>
<p style="margin-top: 0; margin-bottom: 0"><b><font color="#FF00FF">
  <a name="Electrical_Outage_-_500+_Users_over_2_hours_">Electrical Outage - 500+
    Users over 2 hours</a></font></b></p>
<table border="1" width="100%">
  <tr>
    <td width="159">EMC / Asst. City Manager</td>
    <td width="134">Steve Floyd</td>
    <td>Home 875-7592</td>
    <td>Cell 240-6162</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#0000FF">Police Chief</font></b></td>
    <td width="14%"><b><font color="#0000FF">Gerald Williamson</font></b></td>
    <td width="13%"><b><font color="#0000FF">Home&nbsp; 829-7271</font></b></td>
    <td width="13%"><b><font color="#0000FF">Cell&nbsp; 414-3421&nbsp;
    </font></b> </td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#0000FF">Asst. Police Chief</font></b></td>
    <td width="14%"><font color="#0000FF"><b>David Thomas</b></font></td>
    <td width="13%"><b><font color="#0000FF">Home&nbsp; 632-6102</font></b></td>
    <td width="13%"><b><font color="#0000FF">Cell&nbsp; 225-2339</font></b></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#0000FF">Lt. of Support</font></b></td>
    <td width="14%"><font color="#0000FF"><b>Scott Cagnon</b></font></td>
    <td width="13%"><b><font color="#0000FF">Home 366-0233</font></b></td>
    <td width="13%"><b><font color="#0000FF">Cell 366-0233</font></b></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#FF0000">Fire Chief</font></b></td>
    <td width="14%"><font color="#FF0000"><b>Ted Lovett</b></font></td>
    <td width="13%"><b><font color="#FF0000">Home </font></b>
      <font color="#FF0000"><b>824-2651</b></font></td>
    <td width="13%"><b><font color="#FF0000">Cell
    </font></b><font color="#FF0000"><b>414-4308</b></font></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="159"><b><font color="#FF0000">Asst. Fire Chief</font></b></td>
    <td width="134"><b><font color="#FF0000">Duane Freeman</font></b></td>
    <td width="129"><b><font color="#FF0000">Home 637-2031</font></b></td>
    <td width="13%"><b><font color="#FF0000">Cell 674-7654 </font></b> </td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="159"><b><font color="#FF0000">Battalion Chief</font></b></td>
    <td width="134">&nbsp;</td>
    <td>&nbsp;</td>
    <td><b><font color="#FF0000">Cell 465-4465&nbsp;&nbsp;
    </font></b> </td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="159">City Manager</td>
    <td width="134">Keith Wright</td>
    <td width="129">Home 897-3465</td>
    <td width="103">Cell 414-1134</td>
    <td>&nbsp;</td>
  </tr>
</table>

<p style="margin-top: 0; margin-bottom: 0" align="center">
  <font color="#800000" size="1"><a href="#Emergency_Notification_Matrix_">Back to
    top</a></font></p>
<p style="margin-top: 0; margin-bottom: 0"><b><font color="#800000">
  <a name="Electrical_Outage_-_Critical_Facility_">Electrical Outage - Critical
    Facility</a></font></b></p>
<table border="1" width="100%">
  <tr>
    <td width="159">EMC / Asst. City Manager</td>
    <td width="134">Steve Floyd</td>
    <td>Home 875-7592</td>
    <td>Cell 240-6162</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="159">Public Notification</td>
    <td width="134">Randy Cadwell</td>
    <td width="129">Home 229-1831 </td>
    <td width="103">Cell 329-1374</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#0000FF">Police Chief</font></b></td>
    <td width="14%"><b><font color="#0000FF">Gerald Williamson</font></b></td>
    <td width="13%"><b><font color="#0000FF">Home&nbsp; 829-7271</font></b></td>
    <td width="13%"><b><font color="#0000FF">Cell&nbsp; 414-3421&nbsp;
    </font></b> </td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#0000FF">Asst. Police Chief</font></b></td>
    <td width="14%"><font color="#0000FF"><b>David Thomas</b></font></td>
    <td width="13%"><b><font color="#0000FF">Home&nbsp; 632-6102</font></b></td>
    <td width="13%"><b><font color="#0000FF">Cell&nbsp; 225-2339</font></b></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#0000FF">Lt. of Support</font></b></td>
    <td width="14%"><font color="#0000FF"><b>Scott Cagnon</b></font></td>
    <td width="13%"><b><font color="#0000FF">Home 366-0233</font></b></td>
    <td width="13%"><b><font color="#0000FF">Cell 366-0233</font></b></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#FF0000">Fire Chief</font></b></td>
    <td width="14%"><font color="#FF0000"><b>Ted Lovett</b></font></td>
    <td width="13%"><b><font color="#FF0000">Home </font></b>
      <font color="#FF0000"><b>824-2651</b></font></td>
    <td width="13%"><b><font color="#FF0000">Cell
    </font></b><font color="#FF0000"><b>414-4308</b></font></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="159"><b><font color="#FF0000">Asst. Fire Chief</font></b></td>
    <td width="134"><b><font color="#FF0000">Duane Freeman</font></b></td>
    <td width="129"><b><font color="#FF0000">Home 637-2031</font></b></td>
    <td width="13%"><b><font color="#FF0000">Cell 674-7654 </font></b> </td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="159"><b><font color="#FF0000">Battalion Chief</font></b></td>
    <td width="134">&nbsp;</td>
    <td>&nbsp;</td>
    <td><b><font color="#FF0000">Cell 465-4465&nbsp;&nbsp;
    </font></b> </td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="159">City Manager</td>
    <td width="134">Keith Wright</td>
    <td width="129">Home 897-3465</td>
    <td width="103">Cell 414-1134</td>
    <td>&nbsp;</td>
  </tr>
</table>

<p style="margin-top: 0; margin-bottom: 0" align="center">
  <font color="#800000" size="1"><a href="#Emergency_Notification_Matrix_">Back to
    top</a></font></p>
<p style="margin-top: 0; margin-bottom: 0"><font color="#0000FF"><b>
  <a name="Sewer_Outage_-_Critical_Facility_">Sewage Outage - Critical Facility</a></b></font></p>
<table border="1" width="100%">
  <tr>
    <td width="159">EMC / Asst. City Manager</td>
    <td width="134">Steve Floyd</td>
    <td>Home 875-7592</td>
    <td>Cell 240-6162</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="159">Public Notification</td>
    <td width="134">Randy Cadwell</td>
    <td width="129">Home 229-1831 </td>
    <td width="103">Cell 329-1374</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#0000FF">Police Chief</font></b></td>
    <td width="14%"><b><font color="#0000FF">Gerald Williamson</font></b></td>
    <td width="13%"><b><font color="#0000FF">Home&nbsp; 829-7271</font></b></td>
    <td width="13%"><b><font color="#0000FF">Cell&nbsp; 414-3421&nbsp;
    </font></b> </td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#0000FF">Asst. Police Chief</font></b></td>
    <td width="14%"><font color="#0000FF"><b>David Thomas</b></font></td>
    <td width="13%"><b><font color="#0000FF">Home&nbsp; 632-6102</font></b></td>
    <td width="13%"><b><font color="#0000FF">Cell&nbsp; 225-2339</font></b></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#0000FF">Lt. of Support</font></b></td>
    <td width="14%"><font color="#0000FF"><b>Scott Cagnon</b></font></td>
    <td width="13%"><b><font color="#0000FF">Home 366-0233</font></b></td>
    <td width="13%"><b><font color="#0000FF">Cell 366-0233</font></b></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#FF0000">Fire Chief</font></b></td>
    <td width="14%"><font color="#FF0000"><b>Ted Lovett</b></font></td>
    <td width="13%"><b><font color="#FF0000">Home </font></b>
      <font color="#FF0000"><b>824-2651</b></font></td>
    <td width="13%"><b><font color="#FF0000">Cell
    </font></b><font color="#FF0000"><b>414-4308</b></font></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="159"><b><font color="#FF0000">Asst. Fire Chief</font></b></td>
    <td width="134"><b><font color="#FF0000">Duane Freeman</font></b></td>
    <td width="129"><b><font color="#FF0000">Home 637-2031</font></b></td>
    <td width="13%"><b><font color="#FF0000">Cell 674-7654 </font></b> </td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="159"><b><font color="#FF0000">Battalion Chief</font></b></td>
    <td width="134">&nbsp;</td>
    <td>&nbsp;</td>
    <td><b><font color="#FF0000">Cell 465-4465&nbsp;&nbsp;
    </font></b> </td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="159">City Manager</td>
    <td width="134">Keith Wright</td>
    <td width="129">Home 897-3465</td>
    <td width="103">Cell 414-1134</td>
    <td>&nbsp;</td>
  </tr>
</table>

<p style="margin-top: 0; margin-bottom: 0" align="center">
  <font color="#800000" size="1"><a href="#Emergency_Notification_Matrix_">Back to
    top</a></font></p>
<p style="margin-top: 0; margin-bottom: 0"><font color="#0000FF"><b>
  <a name="Sewage_Spill_affecting_Waterways">Sewage Spill affecting Waterways</a></b></font></p>
<table border="1" width="100%">
  <tr>
    <td width="159">EMC / Asst. City Manager</td>
    <td width="134">Steve Floyd</td>
    <td>Home 875-7592</td>
    <td>Cell 240-6162</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="159">Public Notification</td>
    <td width="134">Randy Cadwell</td>
    <td width="129">Home 229-1831 </td>
    <td width="103">Cell 329-1374</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#0000FF">Police Chief</font></b></td>
    <td width="14%"><b><font color="#0000FF">Gerald Williamson</font></b></td>
    <td width="13%"><b><font color="#0000FF">Home&nbsp; 829-7271</font></b></td>
    <td width="13%"><b><font color="#0000FF">Cell&nbsp; 414-3421&nbsp;
    </font></b> </td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#0000FF">Asst. Police Chief</font></b></td>
    <td width="14%"><font color="#0000FF"><b>David Thomas</b></font></td>
    <td width="13%"><b><font color="#0000FF">Home&nbsp; 632-6102</font></b></td>
    <td width="13%"><b><font color="#0000FF">Cell&nbsp; 225-2339</font></b></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#0000FF">Lt. of Support</font></b></td>
    <td width="14%"><font color="#0000FF"><b>Scott Cagnon</b></font></td>
    <td width="13%"><b><font color="#0000FF">Home 366-0233</font></b></td>
    <td width="13%"><b><font color="#0000FF">Cell 366-0233</font></b></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#FF0000">Fire Chief</font></b></td>
    <td width="14%"><font color="#FF0000"><b>Ted Lovett</b></font></td>
    <td width="13%"><b><font color="#FF0000">Home </font></b>
      <font color="#FF0000"><b>824-2651</b></font></td>
    <td width="13%"><b><font color="#FF0000">Cell
    </font></b><font color="#FF0000"><b>414-4308</b></font></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="159"><b><font color="#FF0000">Asst. Fire Chief</font></b></td>
    <td width="134"><b><font color="#FF0000">Duane Freeman</font></b></td>
    <td width="129"><b><font color="#FF0000">Home 637-2031</font></b></td>
    <td width="13%"><b><font color="#FF0000">Cell 674-7654 </font></b> </td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="159"><b><font color="#FF0000">Battalion Chief</font></b></td>
    <td width="134">&nbsp;</td>
    <td>&nbsp;</td>
    <td><b><font color="#FF0000">Cell 465-4465&nbsp;&nbsp;
    </font></b> </td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="159">City Manager</td>
    <td width="134">Keith Wright</td>
    <td width="129">Home 897-3465</td>
    <td width="103">Cell 414-1134</td>
    <td>&nbsp;</td>
  </tr>
</table>

<p style="margin-top: 0; margin-bottom: 0" align="center">
  <font color="#800000" size="1"><a href="#Emergency_Notification_Matrix_">Back to
    top</a></font></p>
<p style="margin-top: 0; margin-bottom: 0"><b><font color="#00FF00">
  <a name="Water_Outage_-_500+_Users_over_2_hours__">Water Outage - 500+ Users
    over 2 hours </a></font></b></p>
<table border="1" width="100%">
  <tr>
    <td width="159">EMC / Asst. City Manager</td>
    <td width="134">Steve Floyd</td>
    <td>Home 875-7592</td>
    <td>Cell 240-6162</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="159">Public Notification</td>
    <td width="134">Randy Cadwell</td>
    <td width="129">Home 229-1831 </td>
    <td width="103">Cell 329-1374</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#0000FF">Police Chief</font></b></td>
    <td width="14%"><b><font color="#0000FF">Gerald Williamson</font></b></td>
    <td width="13%"><b><font color="#0000FF">Home&nbsp; 829-7271</font></b></td>
    <td width="13%"><b><font color="#0000FF">Cell&nbsp; 414-3421&nbsp;
    </font></b> </td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#0000FF">Asst. Police Chief</font></b></td>
    <td width="14%"><font color="#0000FF"><b>David Thomas</b></font></td>
    <td width="13%"><b><font color="#0000FF">Home&nbsp; 632-6102</font></b></td>
    <td width="13%"><b><font color="#0000FF">Cell&nbsp; 225-2339</font></b></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#0000FF">Lt. of Support</font></b></td>
    <td width="14%"><font color="#0000FF"><b>Scott Cagnon</b></font></td>
    <td width="13%"><b><font color="#0000FF">Home 366-0233</font></b></td>
    <td width="13%"><b><font color="#0000FF">Cell 366-0233</font></b></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#FF0000">Fire Chief</font></b></td>
    <td width="14%"><font color="#FF0000"><b>Ted Lovett</b></font></td>
    <td width="13%"><b><font color="#FF0000">Home </font></b>
      <font color="#FF0000"><b>824-2651</b></font></td>
    <td width="13%"><b><font color="#FF0000">Cell
    </font></b><font color="#FF0000"><b>414-4308</b></font></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="159"><b><font color="#FF0000">Asst. Fire Chief</font></b></td>
    <td width="134"><b><font color="#FF0000">Duane Freeman</font></b></td>
    <td width="129"><b><font color="#FF0000">Home 637-2031</font></b></td>
    <td width="13%"><b><font color="#FF0000">Cell 674-7654 </font></b> </td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="159"><b><font color="#FF0000">Battalion Chief</font></b></td>
    <td width="134">&nbsp;</td>
    <td>&nbsp;</td>
    <td><b><font color="#FF0000">Cell 465-4465&nbsp;&nbsp;
    </font></b> </td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="159">City Manager</td>
    <td width="134">Keith Wright</td>
    <td width="129">Home 897-3465</td>
    <td width="103">Cell 414-1134</td>
    <td>&nbsp;</td>
  </tr>
</table>

<p style="margin-top: 0; margin-bottom: 0" align="center">
  <font color="#800000" size="1"><a href="#Emergency_Notification_Matrix_">Back to
    top</a></font></p>
<p style="margin-top: 0; margin-bottom: 0"><font color="#FF0000"><b>
  <a name="Water_Outage_-_Critical_Facility_">Water Outage - Critical Facility</a></b></font></p>
<table border="1" width="100%">
  <tr>
    <td width="159">EMC / Asst. City Manager</td>
    <td width="134">Steve Floyd</td>
    <td>Home 875-7592</td>
    <td>Cell 240-6162</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="159">Public Notification</td>
    <td width="134">Randy Cadwell</td>
    <td width="129">Home 229-1831 </td>
    <td width="103">Cell 329-1374</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#0000FF">Police Chief</font></b></td>
    <td width="14%"><b><font color="#0000FF">Gerald Williamson</font></b></td>
    <td width="13%"><b><font color="#0000FF">Home&nbsp; 829-7271</font></b></td>
    <td width="13%"><b><font color="#0000FF">Cell&nbsp; 414-3421&nbsp;
    </font></b> </td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#0000FF">Asst. Police Chief</font></b></td>
    <td width="14%"><font color="#0000FF"><b>David Thomas</b></font></td>
    <td width="13%"><b><font color="#0000FF">Home&nbsp; 632-6102</font></b></td>
    <td width="13%"><b><font color="#0000FF">Cell&nbsp; 225-2339</font></b></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#0000FF">Lt. of Support</font></b></td>
    <td width="14%"><font color="#0000FF"><b>Scott Cagnon</b></font></td>
    <td width="13%"><b><font color="#0000FF">Home 366-0233</font></b></td>
    <td width="13%"><b><font color="#0000FF">Cell 366-0233</font></b></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#FF0000">Fire Chief</font></b></td>
    <td width="14%"><font color="#FF0000"><b>Ted Lovett</b></font></td>
    <td width="13%"><b><font color="#FF0000">Home </font></b>
      <font color="#FF0000"><b>824-2651</b></font></td>
    <td width="13%"><b><font color="#FF0000">Cell
    </font></b><font color="#FF0000"><b>414-4308</b></font></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="159"><b><font color="#FF0000">Asst. Fire Chief</font></b></td>
    <td width="134"><b><font color="#FF0000">Duane Freeman</font></b></td>
    <td width="129"><b><font color="#FF0000">Home 637-2031</font></b></td>
    <td width="13%"><b><font color="#FF0000">Cell 674-7654 </font></b> </td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="159"><b><font color="#FF0000">Battalion Chief</font></b></td>
    <td width="134">&nbsp;</td>
    <td>&nbsp;</td>
    <td><b><font color="#FF0000">Cell 465-4465&nbsp;&nbsp;
    </font></b> </td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="159">City Manager</td>
    <td width="134">Keith Wright</td>
    <td width="129">Home 897-3465</td>
    <td width="103">Cell 414-1134</td>
    <td>&nbsp;</td>
  </tr>
</table>

<p style="margin-top: 0; margin-bottom: 0" align="center">
  <font color="#800000" size="1"><a href="#Emergency_Notification_Matrix_">Back to
    top</a></font></p>
<p align="left" style="margin-top: 0; margin-bottom: 0"><font color="#0000FF">
  <b><a name="Major_Civil_Disturbance_">Major Civil Disturbance</a></b></font></p>
<table border="1" width="100%">
  <tr>
    <td width="159">EMC / Asst. City Manager</td>
    <td width="134">Steve Floyd</td>
    <td>Home 875-7592</td>
    <td>Cell 240-6162</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="159">Public Notification</td>
    <td width="134">Randy Cadwell</td>
    <td width="129">Home 229-1831 </td>
    <td width="103">Cell 329-1374</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#0000FF">Police Chief</font></b></td>
    <td width="14%"><b><font color="#0000FF">Gerald Williamson</font></b></td>
    <td width="13%"><b><font color="#0000FF">Home&nbsp; 829-7271</font></b></td>
    <td width="13%"><b><font color="#0000FF">Cell&nbsp; 414-3421&nbsp;
    </font></b> </td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#0000FF">Asst. Police Chief</font></b></td>
    <td width="14%"><font color="#0000FF"><b>David Thomas</b></font></td>
    <td width="13%"><b><font color="#0000FF">Home&nbsp; 632-6102</font></b></td>
    <td width="13%"><b><font color="#0000FF">Cell&nbsp; 225-2339</font></b></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#0000FF">Lt. of Support</font></b></td>
    <td width="14%"><font color="#0000FF"><b>Scott Cagnon</b></font></td>
    <td width="13%"><b><font color="#0000FF">Home 366-0233</font></b></td>
    <td width="13%"><b><font color="#0000FF">Cell 366-0233</font></b></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#FF0000">Fire Chief</font></b></td>
    <td width="14%"><font color="#FF0000"><b>Ted Lovett</b></font></td>
    <td width="13%"><b><font color="#FF0000">Home </font></b>
      <font color="#FF0000"><b>824-2651</b></font></td>
    <td width="13%"><b><font color="#FF0000">Cell
    </font></b><font color="#FF0000"><b>414-4308</b></font></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="159"><b><font color="#FF0000">Asst. Fire Chief</font></b></td>
    <td width="134"><b><font color="#FF0000">Duane Freeman</font></b></td>
    <td width="129"><b><font color="#FF0000">Home 637-2031</font></b></td>
    <td width="13%"><b><font color="#FF0000">Cell 674-7654 </font></b> </td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="159"><b><font color="#FF0000">Battalion Chief</font></b></td>
    <td width="134">&nbsp;</td>
    <td>&nbsp;</td>
    <td><b><font color="#FF0000">Cell 465-4465&nbsp;&nbsp;
    </font></b> </td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="159">City Manager</td>
    <td width="134">Keith Wright</td>
    <td width="129">Home 897-3465</td>
    <td width="103">Cell 414-1134</td>
    <td>&nbsp;</td>
  </tr>
</table>

<p style="margin-top: 0; margin-bottom: 0" align="center">
  <font color="#800000" size="1"><a href="#Emergency_Notification_Matrix_">Back to
    top</a></font></p>
<p style="margin-top: 0; margin-bottom: 0"><font color="#0000FF"><b>
  <a name="Terrorist_Incident_">Terrorist Incident</a></b></font></p>
<table border="1" width="100%">
  <tr>
    <td width="159">EMC / Asst. City Manager</td>
    <td width="134">Steve Floyd</td>
    <td>Home 875-7592</td>
    <td>Cell 240-6162</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="159">Public Notification</td>
    <td width="134">Randy Cadwell</td>
    <td width="129">Home 229-1831 </td>
    <td width="103">Cell 329-1374</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#0000FF">Police Chief</font></b></td>
    <td width="14%"><b><font color="#0000FF">Gerald Williamson</font></b></td>
    <td width="13%"><b><font color="#0000FF">Home&nbsp; 829-7271</font></b></td>
    <td width="13%"><b><font color="#0000FF">Cell&nbsp; 414-3421&nbsp;
    </font></b> </td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#0000FF">Asst. Police Chief</font></b></td>
    <td width="14%"><font color="#0000FF"><b>David Thomas</b></font></td>
    <td width="13%"><b><font color="#0000FF">Home&nbsp; 632-6102</font></b></td>
    <td width="13%"><b><font color="#0000FF">Cell&nbsp; 225-2339</font></b></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#0000FF">Lt. of Support</font></b></td>
    <td width="14%"><font color="#0000FF"><b>Scott Cagnon</b></font></td>
    <td width="13%"><b><font color="#0000FF">Home 366-0233</font></b></td>
    <td width="13%"><b><font color="#0000FF">Cell 366-0233</font></b></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="16%"><b><font color="#FF0000">Fire Chief</font></b></td>
    <td width="14%"><font color="#FF0000"><b>Ted Lovett</b></font></td>
    <td width="13%"><b><font color="#FF0000">Home </font></b>
      <font color="#FF0000"><b>824-2651</b></font></td>
    <td width="13%"><b><font color="#FF0000">Cell
    </font></b><font color="#FF0000"><b>414-4308</b></font></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="159"><b><font color="#FF0000">Asst. Fire Chief</font></b></td>
    <td width="134"><b><font color="#FF0000">Duane Freeman</font></b></td>
    <td width="129"><b><font color="#FF0000">Home 637-2031</font></b></td>
    <td width="13%"><b><font color="#FF0000">Cell 674-7654 </font></b> </td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="159"><b><font color="#FF0000">Battalion Chief</font></b></td>
    <td width="134">&nbsp;</td>
    <td>&nbsp;</td>
    <td><b><font color="#FF0000">Cell 465-4465&nbsp;&nbsp;
    </font></b> </td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="159">City Manager</td>
    <td width="134">Keith Wright</td>
    <td width="129">Home 897-3465</td>
    <td width="103">Cell 414-1134</td>
    <td>&nbsp;</td>
  </tr>
</table>

<p>Updated 12/31/2014</p>

</body>

</html>
