<h1>Vacation Patrol</h1>
<p>
  This is a demo email for the Vacation Patrol Page.<br>
  Reporting Officer: <%= @vacationpatrol.officer %>.<br>
  Comments: <%= @vacationpatrol.comment %>.<br>
</p>
<p>Thanks, Have a nice day.</p>